body {
    margin: 0;
    font-size: 21px;
}

h1 {
    font-size: 48px;
    margin: 0;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
}

header {
    background-color: #588C94;
    color: white;
    text-align: center;
    padding: 50px 0;
}

.intro {
    width: 500px;
    margin: 0 auto;
}

.my-skills {
    background-color: #1D3C41;
    color: white;
    padding: 30px 0;
}

.columns {
    width: 750px;
    text-align: center;
    margin: 0 auto;
    display: flex;
}

.column {
    border: 2px solid white;
    padding: 2px;
    margin: 10px;
}