# OS (Mac)
.DS_Store
.AppleDouble
.LSOverride

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Logs
logs/
*.log
*.log.*

# Build dependencies
dist/
build/
out/

# Editor / IDE
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Sistema temporal
*.swp
*~
*.tmp
*.bak
*.orig

# Tailwind / PostCSS
.cache/
.tailwind-cache/

# Sass
.sass-cache/

# Vite
vite.config.js # només si no vols versionar la config, opcional
*.local

#VS workspace
*.code-workspace/
