
/* ==========Global styles========== */

body {
    margin: 0;
    font-size: 21px; /*affecting all elements but h1, h2 and h3*/
}

/* ==========Typography========== */

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
}

/* ==========Layout========== */ 

header {
    background-color: #588C94;
    color: white;
    text-align: center;
    padding: 30px 0;
}

.singleText {
    width: 500px;
    margin: 100px auto; /*to center element on the screen*/
    text-align: center;
}

.skills {
    background-color: #1D3C41;
    color: white;
    text-align: center;
    padding: 75px 0;
}

.columns {
    display: flex;
}

.column {
    margin: 0 15px; /* per a que no es toquin entre elles les columnes*/
    padding: 10px;
}