/* _components.scss */

@use "mixins" as *;
@use "variables" as *;

/* ===== TYPOGRAPHY RESPONSIVE ===== */

h1 { font-size: $size-h1; line-height: 1.2; } // min 2rem, grows with 5% viewport, max 3rem
h2 { font-size: $size-h2; line-height: 1.25; }
h3 { font-size: $size-h3; line-height: 1.3; }
h4 { font-size: $size-h4; line-height: 1.35; }
h5 { font-size: $size-h5; line-height: 1.4; }
p { font-size: $size-p; line-height: $line-height; }

/* ===== NAVBAR MÒBIL ===== */

// BASE: nav-menu closed
.navbar {
    @include section-content($space-l, $space-l);
}
.nav-menu {
    align-items: center;
    display: none; // hidden per defecte
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: $color-gray-blue;
    opacity: 0.9;
    z-index: 999;
    padding-right: $space-xxl;
    padding-left: $space-xxl;
    padding-top: 8rem;    
}

// BASE: nav-menu buttons
.menu-btn,
.close-btn {
    position: absolute;
    top: 3.2rem;
    z-index: 1000;
    right: $space-xl;
    border: none;
    background: none;
    cursor: pointer;
}

.close-btn {
    display: none;
    right: 3.2rem;
}

//OPEN NAVBAR (js adds .menu-open)
.navbar.menu-open {

    .menu-btn { display: none; }
    .close-btn { display: block; }

    .logo-svg {
        position: relative;
        z-index: 1001;
        
        .logo-letters,
        circle { fill: $color-white; } // white logo when .menu-open
        .inner-bookmark {
            fill: $color-gray-blue;
            opacity: 0.9;
        }
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        align-items: center;


        #features {
            border-top: 1px solid $color-white;
            border-bottom: 1px solid $color-white;
        }

        #pricing, 
        #contact {
            border-bottom: 1px solid $color-white;
        }

        li {
            width: 95%;
            text-align: center;
            padding: $space-m;
            list-style: none;

        
            a {
                color: $color-white;
                font-size: $size-h5;
                font-weight: normal;
                letter-spacing: 0.2rem;
                text-decoration: none;
            }

        .login-btn {
            width: 90%;
            padding: 0.938rem 0;
            border-radius: $radius-button;
            border: 3px solid $color-white;
            font-weight: bold;
            background: transparent;
            color: $color-white;
            font-size: $size-p;
            letter-spacing: 0.2rem;
            margin-top: $space-s;

        }

        .social-media-h {
            @include flex(row, center, center);
            gap: $space-m;
            padding-top: $space-m2;

            a {
                @include flex (row, center, center);
                width: $space-l;
                height: $space-l;
                
                img { max-width: 100%; }
            }
        }
        }
    }
}
    body.no-scroll {
        overflow: hidden;
        height: 100vh;
    }

/* ===== HERO components ===== */

/* Hero image individual */
.hero-images img {
    max-width: 800px;
    width: 110%;
    align-self: center;
    height: auto;
    z-index: 1;
}

/* Forma de fons del hero */
.hero-bg-shape {
    @include responsive-blob($radius-blobr-mbl, $radius-blobr-dkp, 90%, 90%, (bottom: 0rem, right: -3rem));
    height: 70%;
    bottom: 70px;
}

/* Contenidor text + botons del hero */
.hero-txt-btn {
    @include section-content();
    text-align: center;
    gap: $space-m;

    p {
        line-height: $line-height;
    }
}

/* botons dins del hero*/
    .hero-buttons {
        @include flex(row, center, center);  // centrat per defecte
        gap: $space-m;

        .chrome-btn {
            @include button($color-primary, $space-m2, $space-s, $color-primary, $color-white);
            box-shadow: $shadow-card;
        }

        .firefox-btn {
            @include button($color-white, $space-m2, $space-s, $color-white, $color-dark-gray);
            box-shadow: $shadow-card;
        }
    }

/* ===== FEATURES components =====*/

/* text d la secció */
.features-text {
    @include flex(column);
    gap: $space-m;
    text-align: center;

    p { line-height: $line-height; }
}

/* divs de cada tab x fer border fix */
.tabs {
    margin-bottom: $space-m;
    
    li {
    border-bottom: 1px solid $color-light-gray;
    list-style: none;
    width: 100%;
    text-align: center;

        &:first-child {
        border-top: 1px solid $color-light-gray;
        }
    }

    /* botons tab */
    .tab {
        background: none;
        border: none;
        padding: $padding-card-y;
        cursor: pointer;
        font-size: $size-button;

        &.active {
            border-bottom: 3px solid $color-accent;
        }
    }
}

/* text d cada tab */
.tab-content {
    display: none;
    flex-direction: column;
    text-align: center;

    &.active {
        display: flex;
    }
}

/* container d img d cada tab */
.tab-imgs {
    position: relative;
    padding-bottom: $space-m2;
    overflow: hidden;

    img {
        max-width: 75%;
        height: auto;
        z-index: 1;
    }

    .features-bg-shape {
        @include responsive-blob($radius-blobl-mbl, $radius-blobl-dkp, 70%, 90%, (bottom: 2rem, left: -1rem));
        height: 300px;
        bottom: 20px;
    }
}

/* txt dins del tab */
.text-btn {
    padding: $space-m $space-m;

    h3 { margin-bottom: $space-s; }
    p { line-height: $line-height; }
}

.info-btn {
    @include button($color-primary, $space-m2, $space-s, $color-primary, $color-white);
    margin: $space-m2 0;
}

/* ===== DOWNLOAD components ===== */

.download-txt {
    text-align: center;
    line-height: $line-height;
    margin-top: $space-m;

    h2 { margin-bottom: $space-s; }
}

.cards {
    @include flex(column);
    gap: $space-m;
}

/* Card genèrica */
.card-chrome,
.card-firefox,
.card-opera {
    @include card(); // utilitzem el mixin card amb padding, border-radius, box-shadow
    @include flex(column, center, center);  
    text-align: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.cards img.logo {
    margin-bottom: 1.5rem;
}

.card-chrome h3,
.card-firefox h3,
.card-opera h3 {
    margin-bottom: 0.3rem;
}

.card-chrome p,
.card-firefox p,
.card-opera p {
    margin-bottom: $space-m;
    color: #959895;
}

/* Botó de la card */
.cardbutton {
    @include button($color-primary, $padding-card-x, $padding-card-y, $color-primary, $color-white);
    display: flex;
    flex-direction: row;
    gap: $space-xs;
    margin-top: $space-s;
    text-decoration: none;
}

/* ===== FAQ Components ===== */

.faq-txt {
    text-align: center;
    line-height: $line-height;
    margin-bottom: $space-l;
}
/* Títols i text */
.faq h2 {
    margin-bottom: $space-m;
}

.faq h6 {
    font-size: $size-p;
    font-weight: bold;
}

.questions { width: 80%; }

.questions ul {
    margin-bottom: $space-s;
    line-height: $line-height;
    justify-items: left;
    margin-left: auto;
    margin-right: auto;
}

/* Pregunta individual */
.question {
    list-style-type: none;
    width: 100%;

    /* Capçalera de cada pregunta (h3 + arrow) */
    .question-header {
        display: flex;
        background: none;
        align-items: center;
        justify-content: space-between;
        font-size: $size-p;
        padding: $padding-card-y 0;
        cursor: pointer;
        border: none;
        border-bottom: 1px solid $color-light-gray;
        width: 100%;
    }

    /* Fletxa animada */
    .arrow {
        width: 20px;
        transition: transform 0.3s ease;
        color: $color-primary;
    }

    .answer {
    display: none;
    text-align: left;
    margin-top: $space-s;
    color: $color-mid-gray;
    line-height: $line-height;
    }
}
    
.question.active {
    .answer {
        display: block;
        margin-bottom: 1.25rem;
    }

    .question-header {
            border: none;
        }

    .question-header.active .arrow path {
            stroke: currentColor;
            transform: rotate(180deg);
        }
}

/* Botó FAQ reutilitzable amb mixin */
.faq-button {
    @include button($color-primary, $space-m2, $space-s, $color-primary, $color-white);
    margin-top: $space-m2;
    text-decoration: none;
}

/* ===== CONTACT components ===== */
.header-contact {

    p {
    @include flex(column);
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
    color: $color-white;
    margin-bottom: $space-m;
    letter-spacing: 0.3rem;
    }

    h2 {
        color: $color-white;
        font-weight: bold;
        text-align: center;
        margin-bottom: $space-m;
    }
}

/* INPUT NORMAL */
.contact-form {
    @include flex(column);
    gap: $space-xs;

    input {
        width: 100%;
        padding: $space-s;
        border: none;
        border-radius: $radius-button;
        font-size: $size-p;
}

    button {
    @include button($color-accent, $space-s, $space-s, $color-accent, $color-white);
    width: 100%;
    }
}

.email-error-container {
    @include error-container;
    }

/* MISSATGE D’ERROR */
.email-error {
    display: none;
    position: absolute;
    bottom: 0.3rem;
    left: 0.6rem;
    color: $color-white;
    font-size: $font-error;
    font-style: italic;
}

.error {
    display: block;
}

/* ===== FOOTER components ===== */

/* Logo invertit */
.footer-logo {
    svg.logo-invert path {
        fill: white;
        stroke: none;
    }
}

/* Links del menú */
.footer-links ul {
    @include flex(column);
    list-style: none;
    margin: $space-s 0;
    list-style-type: none;
    gap: $space-m;

    a {
        color: white;
        text-decoration: none;
        font-size: .875rem;
        text-transform: uppercase;
        letter-spacing: .125rem;
    }
}

/* Xarxes socials */
.social-media {
    align-items: center;

    ul {
    @include flex(row);
    padding: $padding-card-y 0;
    width: $space-l;
    height: $space-l;
    cursor: pointer;
    gap: $space-m;
    list-style-type: none;
    }
}


