/* _components.scss */

/* ===== NAVBAR MÒBIL ===== */
.nav-menu {
    display: none; // hidden per defecte
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: $color-gray-blue;
    opacity: 0.9;
    z-index: 999;
    align-items: center;
    padding: 4rem;    
}

.menu-btn {
    display: block;
    position: absolute;
    top: $padding-y;
    right: $padding-x;
    z-index: 1000;
    border: none;
    background: none;
    cursor: pointer;
}

.close-btn {
    display: none; // hidden per defecte
    position: absolute;
    top: $padding-y;
    right: $padding-x;
    z-index: 1000;
    border: none;
    background: none;
    cursor: pointer;
}

.navbar.menu-open {
    .menu-btn {
        display: none;
    }

    .close-btn {
        display: block;
        padding-right: 1rem;
    }

    .logo-svg {
        position: relative;
        z-index: 1001;
        .logo-letters,
        circle {
            fill: $color-white; // logo blanc quan el menu està obert
        }
        .inner-bookmark {
            fill: $color-gray-blue;
            opacity: 0.9;
        }
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 8rem;

        #features {
            border-top: 1px solid $color-white;
            border-bottom: 1px solid $color-white;
        }

        #pricing, 
        #contact {
            border-bottom: 1px solid $color-white;
        }

        li {
            width: 95%;
            text-align: center;
            padding: $padding-y $padding-x;
            list-style: none;

        
            a {
                color: $color-white;
                font-size: $size-h5;
                font-weight: normal;
                letter-spacing: 0.2rem;
                text-decoration: none;
            }

        .login-btn {
            width: 90%;
            padding: 15px 0;
            border-radius: $radius-button;
            border: 3px solid $color-white;
            font-weight: bold;
            background: transparent;
            color: $color-white;
            font-size: $size-p;
            letter-spacing: 0.2rem;
            margin-top: 1rem;
        }

        .social-media-h {
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        padding-top: 2rem;
        justify-content: center;

            a {
                display: flex;
                width: 2.5rem;
                height: 2.5rem;
                align-items: center;
                justify-content: center;

                img {
                    max-width: 100%;
                }
            }
        }
        }
    }
}

    body.no-scroll {
        overflow: hidden;
        height: 100vh;
    }

/* ===== HERO components ===== */

/* Hero image individual */
.hero-images img {
    max-width: 100%;
    height: auto;
    z-index: 1;
}

/* Forma de fons del hero */
.hero-bg-shape {
    position: absolute;
    bottom: 5%;
    right: -20%;
    width: 75%;
    height: 60%;
    aspect-ratio: 2/1;
    background: #4d5ae4;
    border-radius: 300px 0 0 300px;
    z-index: -1;
}

/* Contenidor text + botons del hero */
.hero-txt-btn {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: $gap-mbl-standard;

    /* Text dins del hero */
    .hero-text {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        margin-bottom: 1.5rem;
        line-height: $line-height;

        &.h1 {
            line-height: $line-height;
        }
    }
    /* botons dins del hero*/
    .hero-buttons {
        @include flex-center(row);  // centrat per defecte
        gap: 1.5rem;

        button {
            /* Botons reutilitzables amb mixin */
            &.chrome-btn {
            @include button($color-primary, 2rem, 1rem, $color-primary, $color-white);
            box-shadow: $shadow-card;
            }

        &.firefox-btn {
            @include button($color-white, 2rem, 1rem, $color-white, $color-dark-gray);
            box-shadow: $shadow-card;
        }
        }
    }
}

/* ===== FEATURES components =====*/

/* text d la secció */
.features-text {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    gap: $gap-mbl-standard;
    line-height: $line-height;
}

/* divs de cada tab x fer border fix */
.tabs li {
    border-bottom: 1px solid $color-light-gray;
    list-style: none;

    &:first-child {
    border-top: 1px solid $color-light-gray;
    }

/* botons tab */
.tab {
    background: none;
    border: none;
    padding: $padding-card;
    cursor: pointer;
    font-size: $size-h5;

    &.active {
        border-bottom: 3px solid $color-accent;
    }
}
}

.tabs-content {
    .features-bg-shape {
    position: absolute;
    bottom: 250px;
    left: -50px;
    width: 80%;
    height: 250px;
    background: $color-primary;
    border-radius: $radius-blobl-mbl;
    z-index: -1;
    }
}

/* text d cada tab */
.tab-content {
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &.active {
        display: flex;
    }
}

/* container d img d cada tab */
.tab-imgs {
    margin-bottom: 3rem;

    img {
        margin-bottom: 1.5rem;
        max-width: 80%;
        height: auto;
        z-index: 1;
    }
}

/* txt dins del tab */
.txt-btn {
    @include flex-center(column);
    margin-top: $margin-standard;
    margin-bottom: 1.8rem;
    line-height: $line-height;
}

.info-btn {
    @include button($color-primary, 2rem, 1rem, $color-primary, $color-white);
    margin: 2rem 0;
}


/* ===== DOWNLOAD components ===== */

/* Card genèrica */
.card-chrome,
.card-firefox,
.card-opera {
  @include card(); // utilitzem el mixin card amb padding, border-radius, box-shadow
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    flex-wrap: wrap;
    margin: 0 auto;
}

.cards img.logo {
    margin-bottom: 1.5rem;
}

.card-chrome h3,
.card-firefox h3,
.card-opera h3 {
    margin-bottom: 0.3rem;
}

.card-chrome p,
.card-firefox p,
.card-opera p {
    margin-bottom: 1.8rem;
    color: #959895;
}

/* Botó de la card */
.cardbutton {
    @include button($color-primary, 1.25rem, 0.75rem, $color-primary, $color-white);
    display: flex;
    flex-direction: row;
    gap: $gap-xs;
    margin-top: 1.25rem;
    text-decoration: none;
}

/* ===== FAQ Components ===== */

/* Títols i text */
.faq h2 {
    margin-bottom: $gap-mbl-standard;
}

.faq h5 {
    font-weight: bold;
}

.questions p {
    margin-bottom: $gap-s;
    line-height: $line-height;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

/* Pregunta individual */
.question {
    list-style-type: none;
    text-align: left;

    /* Capçalera de cada pregunta (h3 + arrow) */
    .question-header {
        display: flex;
        background: none;
        align-items: center;
        justify-content: space-between;
        font-size: $size-p;
        padding: 1.25rem 0;
        cursor: pointer;
        width: 100%;
        border: none;
        border-bottom: 1px solid $color-light-gray;
    }

    /* Fletxa animada */
    .arrow {
        width: 20px;
        transition: transform 0.3s ease;
        color: $color-primary;
    }

    .answer {
    display: none;
    text-align: left;
    margin-top: 1rem;
    color: $color-dark-gray;
    line-height: 1.5rem;
    }
}
    
.question.active {
    .answer {
        display: block;
        margin-bottom: 1.25rem;
    }

    .question-header {
            border: none;
        }

    .question-header.active .arrow path {
            stroke: currentColor;
            transform: rotate(180deg);
        }
}

/* Botó FAQ reutilitzable amb mixin */
.faq-button {
    @include button($color-primary, 2rem, 1rem, $color-primary, $color-white);
    margin-top: 2rem;
    text-decoration: none;
}

/* ===== CONTACT components ===== */
.header-contact {

    p {
    @include flex-center(column);
    font-weight: normal;
    text-transform: uppercase;
    color: $color-white;
    margin-bottom: $gap-mbl-standard;
    letter-spacing: 0.3rem;
    }

    h2 {
        color: $color-white;
        font-weight: bold;
        margin-bottom: $gap-mbl-standard;
    }
}

/* INPUT NORMAL */
.contact-form {
    input {
    width: 100%;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    font-size: $size-p;
}

    button {
    @include button(
        $bg-color: $color-accent,       
        $padding-x: 1rem,
        $padding-y: 1rem,
        $border-color: $color-accent,
        $color: $color-white
    );
    width: 100%;
}
}

.email-error-container {
    position: relative;
    padding: 0.1rem 0.1rem 1.5rem 0.1rem;
    border-radius: 5px;
    width: 100%;

  /* ICONA */
    img {
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 1.25rem;
    display: none;
    }
}

/* ESTATS DE L’ERROR */
.email-error-container.error {
    background: $color-accent;

    img {
    display: block;
    }
}

/* MISSATGE D’ERROR */
.email-error {
    display: none;
    position: absolute;
    bottom: 0.3rem;
    left: 0.6rem;
    color: $color-white;
    font-size: $font-error;
    font-style: italic;
}

.error {
    display: block;
}

/* ===== FOOTER components ===== */

/* Logo invertit */
.footer-logo {
    svg.logo-invert path {
        fill: white;
        stroke: none;
    }
}

/* Links del menú */
.footer-links ul {
    @include flex-center(column);
    list-style: none;
    margin: 1rem 0;
    list-style-type: none;
    gap: $gap-mbl-standard;

    a {
        color: white;
        text-decoration: none;
        font-size: .875rem;
        text-transform: uppercase;
        letter-spacing: .125rem;
    }
}

/* Xarxes socials */
.social-media {
    align-items: center;

    ul {
    @include flex-center(row);
    padding: 1.25rem 0;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    gap: $gap-mbl-standard;
    list-style-type: none;
    }
}




