/* _components.scss */

/* ===== NAVBAR MÒBIL ===== */

.navbar .nav-menu {
    display: none;
}

.menu-btn,
.close-btn {
    border: none;
    background: none;
    cursor: pointer;
}

//menu active
.navbar.menu-open .nav-menu {
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw; /* o 100 vw, tot l'ample*/
    height: 100vh; /*tot l'alt*/

    display: flex; /*hidden x defecte */
    flex-direction: column;
    background: $color-gray-blue;
    opacity: 90%;
    z-index: 999;
}

.menu-open {
    .logo-svg {
        .logo-letters path {
        fill: $color-white;
        }

        .logo-circle path {
            fill: $color-white;
        }
    }

    .close-btn {
        display: flex;
    }

    .menu-btn {
        display: none;
    }

    .nav-menu ul {
        padding: $padding-y $padding-x;
        list-style-type: none;
        font-size: $size-h5;
        font-weight: normal;
        letter-spacing: 0.2rem;
    }
}

/*menu interior desplegat */
.menu-active a {
    color: $color-white;
    text-decoration: none;
}

/* divs dels items del menu*/
.nav-menu div {
    width: 100%;
    padding: $padding-y $padding-x;
    text-align: center;
}

.btn-line {
    border-top: 1px solid $color-light-gray;
    padding-top: 1.5rem;
}

/*login botó*/
.nav-menu .login-btn {
    width: 100%;
    text-decoration: none;
    padding: 15px 0;
    border-radius: 5px;
    border-color: #ffffff;
    font-weight: bold;
    background: transparent;
    color: #ffffff;
    font-size: 18px;    
    letter-spacing: 0.2rem;
    margin-top: 1rem;
}

/* ===== HERO components ===== */

/* Hero image individual */
.hero-image img {
    margin-bottom: 1.5rem;
    max-width: 100%;
    height: auto;
    z-index: 1;
}

/* Forma de fons del hero */
.hero-bg-shape {
    position: absolute;
    bottom: 5%;
    right: -5%;
    width: 75%;
    height: 60%;
    aspect-ratio: 2/1;
    background: #4d5ae4;
    border-radius: 300px 0 0 300px;
    z-index: -1;
}

/* Contenidor text + botons del hero */
.hero-txt-btn {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: $gap-mbl-standard;

    /* Text dins del hero */
    .hero-text {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        margin-bottom: 1.5rem;
        line-height: $line-height;

        &.h1 {
            line-height: $line-height;
        }
    }
    /* botons dins del hero*/
    .hero-buttons {
        @include flex-center(row);  // centrat per defecte
        gap: 1.5rem;

        button {
            /* Botons reutilitzables amb mixin */
            &.chrome-btn {
            @include button($color-primary, 2rem, 1rem, $color-primary, $color-white);
            box-shadow: $shadow-card;
            }

        &.firefox-btn {
            @include button($color-white, 2rem, 1rem, $color-white, $color-dark-gray);
            box-shadow: $shadow-card;
        }
        }
    }
}

/* ===== FEATURES components =====*/

/* text d la secció */
.features-text {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    gap: $gap-mbl-standard;
    line-height: $line-height;
}

/* divs de cada tab x fer border fix */
.tabs {
    border-bottom: 1px solid $color-light-gray;

    &:first-child {
    border-top: 1px solid $color-light-gray;
    }
}

/* botons tab */
.tab {
    background: none;
    border: none;
    padding: $padding-card;
    cursor: pointer;
    font-size: $size-h5;


    &.active {
        border-bottom: 3px solid $color-accent;
    }
}

/* text d cada tab */
.tab-content {
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &.active {
        display: flex;
    }
}

/* container d img d cada tab */
.tab-imgs {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    position: relative;
}

.tab-img {
    position: relative;
}

.tab-img img {
    margin-bottom: 1.5rem;
    max-width: 80%;
    height: auto;
    position: relative;
    z-index: 1;
}

/* blob left margin */
.features-bg-shape {
    position: absolute;
    bottom: -5%;
    left: -20%;
    width: 98%;
    height: 60%;
    background: $color-primary;
    border-radius: $radius-blobl-mbl;
    z-index: -1;
}

/* txt dins del tab */
.text-tab {
    display: flex;
    flex-direction: column;
    margin-top: $margin-standard;
    gap: $gap-mbl-standard;
    margin-bottom: 1.8rem;
    line-height: $line-height;
}

/* botó more info*/
.info-btn {
    @include button($color-primary, 2rem, 1rem, $color-primary, $color-white);
}

/* ===== DOWNLOAD components ===== */

/* Card genèrica */
.card-chrome,
.card-firefox,
.card-opera {
  @include card(); // utilitzem el mixin card amb padding, border-radius, box-shadow
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    flex-wrap: wrap;
}

.cards img.logo {
    margin-bottom: 1.5rem;
}

.card-chrome h3,
.card-firefox h3,
.card-opera h3 {
    margin-bottom: 0.3rem;
}

.card-chrome p,
.card-firefox p,
.card-opera p {
    margin-bottom: 1.8rem;
    color: #959895;
}

/* Botó de la card */
.cardbutton {
    @include button($color-primary, 1.25rem, 0.75rem, $color-primary, $color-white);
    display: flex;
    flex-direction: row;
    gap: $gap-xs;
    margin-top: 1.25rem;
    text-decoration: none;
}

/* ===== FAQ Components ===== */

/* Títols i text */
.faq h2 {
    margin-bottom: $gap-mbl-standard;
}

.faq h5 {
    font-weight: bold;
}

.questions p {
    margin-bottom: $gap-s;
    line-height: $line-height;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

/* Pregunta individual */
.question {
    list-style-type: none;

    /* Capçalera de cada pregunta (h3 + arrow) */
    .question-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.25rem 0;
        border-bottom: 1px solid #7a7777;
        cursor: pointer;
    }

    .question h5 {
        flex: 1; 
        text-align: left;
        margin-right: 0.6rem;
        overflow-wrap: anywhere;
    }

    /* Fletxa animada */
    .arrow {
        width: 20px;
        transition: transform 0.3s ease;
        color: $color-primary;
    }

    .question.active .answer {
        display: block;
        margin-bottom: 1.25rem;
    }

    .question.active .question-header {
        border: none;
    }

    .question-header.active .arrow path {
        stroke: currentColor;
        transform: rotate(180deg);
    }
}
/* Resposta */
.answer {
    display: none;
    text-align: left;
    margin-top: 1rem;
    color: #7a7777;
    line-height: 1.5rem;
}

/* Botó FAQ reutilitzable amb mixin */
.faq-button {
    @include button($color-primary, 2rem, 1rem, $color-primary, $color-white);
    gap: $gap-xs;
    margin-top: 1.25rem;
    text-decoration: none;
}

/* ===== CONTACT components ===== */

/* INPUT NORMAL */
.contact-form input {
    width: 100%;
    padding: 0.9rem;
    border: none;
    border-radius: 5px;
    font-size: $size-p;
}

/* BUTTON */
.contact-form button {
    @include button(
        $bg-color: $color-accent,        // #ff6565
        $padding-x: 1rem,
        $padding-y: 1rem,
        $border-color: $color-accent,
        $color: $color-white
    );
    width: 100%;
}

/* ERROR CONTAINER */
.email-error-container {
    position: relative;
    padding: 0 0 1.5rem 0;
    border-radius: 5px;
    width: 100%;

    input {
    width: 99%;
    height: 99%;
    padding: 0 0.9rem;
    margin-top: 0.2rem;
    border: none;
    border-radius: 5px;
    }

  /* ICONA */
    img {
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 1.25rem;
    display: none;
    }
}

/* ESTATS DE L’ERROR */
.email-error-container.error {
    background: $color-accent;

    img {
    display: block;
    }
}

/* MISSATGE D’ERROR */
.email-error {
    display: none;
    position: absolute;
    bottom: 0.3rem;
    left: 0.6rem;
    color: $color-white;
    font-size: $font-error;
    font-style: italic;
}

.email-error.error {
    display: block;
}

/* ===== FOOTER components ===== */

/* Logo invertit */
.footer-logo {
    svg.logo-invert path {
        fill: white;
        stroke: none;
    }
}

/* Links del menú */
.footer-links {
    @include flex-center(column);
    list-style: none;
    gap: 1rem;
    margin: 1rem 0;

    a {
        color: white;
        text-decoration: none;
        font-size: .875rem;
        text-transform: uppercase;
        letter-spacing: .125rem;

        &:hover {
            opacity: .7;
        }
    }


/* Xarxes socials */
.social-media {
    @include flex-center(row);
    padding: 1.25rem 0;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
}
}



