/*===== DESKTOP ======*/
@use "sass:color";

@media (min-width: 1024px) {
    body {
        overflow-x: hidden;
        font-family: $fontfam-main;
    }

    html { font-size: 18px }

    p { font-size: $size-p; line-height: $line-height; }
    
    button, a { font-size: 1.063rem; }

    /* ===== HEADER / NAVBAR ===== */
    .navbar {
        @include desktop-container();
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

        .nav-menu {
            display: flex;
            flex-direction: row;
            position: static;
            height: auto;
            width: auto;
            background: none;
            gap: $gap-m;
            justify-content: flex-end;
            align-items: center;

            li {
                list-style-type: none;
            }

            a {
                text-decoration: none;
                color: $color-black;
                letter-spacing: 0.2rem;
                font-size: 0.85rem;

                &:hover { color: $color-accent; }
            }

            .social-media-h {
                display: none;
            }

            .login-btn {
                width: auto;
                border: 1px solid $color-accent;
                border-radius: $radius-button;
                font-weight: bold;
                background: $color-accent;
                color: $color-white;
                font-size: 0.85rem;
                letter-spacing: 0.2rem;
                padding: 0.8rem 1.5rem;
                box-shadow: $shadow-card;

                &:hover {
                    cursor: pointer;
                    background: $color-white;
                    color: $color-accent;
                }
            }
        }
                .menu-btn, .close-btn {
            display: none;
        }
    }

    /* ===== HERO ===== */
    .hero {
        @include desktop-container();
        flex-direction: row-reverse;
        gap: $gap-dkt-standard;
        align-items: flex-start;

        .hero-images {
            @include flex(row);
            flex: 1;

            img { 
                max-width: 120%; 
                height: auto; 
                z-index: 1; 
            }

            .hero-bg-shape {
                position: absolute;
                bottom: 8%;
                right: -30%;
                width: 95%;
                height: 60%;
                background: $color-primary;
                border-radius: $radius-blobr-dkp;
                z-index: -1;
            }
        }

        .hero-txt-btn {
            flex: 1;
            text-align: left;
            align-items: flex-start;

            .hero-text { 
                width: 90%; 

            }

            .hero-buttons button { 
                padding: 0.7rem 0.7rem;
                cursor: pointer; 
                line-height: $line-height;
            }

            .chrome-btn:hover {
                background: $color-white;
                border: 3px solid color.scale($color-primary, $lightness: -10%);
                color: $color-primary;
            }

            .firefox-btn:hover { border: 3px solid $color-gray-blue; }
        }
    }

    /* ===== FEATURES ===== */
    .features {
        @include desktop-container(column);
        width: 100%;
        margin: 0 auto;
        text-align: center;

        .features-text {
            margin-bottom: 2rem;
            width: 60%;
        }

        .tabs { 
            flex-direction: row; 
            width: 100%;
            justify-content: center;

            li {
                flex: 1;
                text-align: center;
            
                :hover {
                color: $color-accent;
                }
            }

            .btn-line:first-child {
                border-top: none;
            }
        }

        .tab-content { /* IMPORTANT, reset del layout d mobil*/
            display: none;
            flex-direction: row;
            gap: $gap-dkt-standard;
            align-items: center;
            justify-content: center;
            text-align: left;
            max-width: 1100px;
            margin: 0 auto;
        }

        /*MOSTREM EL Q TOCA*/
        .tab-content.active {
            display: flex;
        }

        .tab-imgs {
            flex: 1;
            position: relative;
            width: 100%;
            max-width: 600px;
            height: 400px;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                z-index: 1;
            }

            .features-bg-shape {
                position: absolute;
                bottom: 40px;
                transform: translateX(-30%);
                width: 500px;
                height: 200px;
                background: $color-primary;
                border-radius: $radius-blobl-dkp;
                z-index: -1;
            }
        }

        .text-btn {
            flex: 1;
            @include flex(column, left, left);
            align-items: left;

            h3 {
                margin-bottom: 1rem;
            }

            .info-btn {
                display: flex;
                width: 45%;
                height: 20%;
                justify-content: center;
                align-items: left;

            }
        }

        .info-btn {
            border: 3px solid $color-primary;
            cursor: pointer;
            &:hover {
                border: 3px solid $color-primary;
                background: $color-white;
                color: $color-primary;
            }
        }
    }

    /* ===== DOWNLOAD CARDS ===== */
    .download {
        @include desktop-container(column);
        margin-bottom: 6rem;
        text-align: center;

        .download-txt { 
            width: 60%; 
            margin-bottom: 2rem;
        }

        .cards {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            gap: $gap-xs;
        }

        .card-firefox { margin-top: $gap-dkt-standard; }
        .card-opera { margin-top: $gap-dkt-standard*2; }

        .cardbutton {
            cursor: pointer;
            
            &:hover {
                border: 3px solid $color-primary;
                background: $color-white;
                color: $color-primary;
            }
        }
    }

    /* ===== FAQ ===== */
    .faq {
        @include desktop-container(column);
        align-items: center;
        margin-bottom: 6rem;

        .faq-txt {
            max-width: 60%;
            margin-bottom: 2rem;
        }

        .questions { 
            flex-direction: column;
            max-width: 600px; 
            margin: 0 auto; 
            
            .question-header {
                font-size: 1.2rem;
            }
        
        .question h5:hover {
            color: $color-accent;
        }
    }

        .faq-button {
            @include button($color-primary, 2rem, 1rem, $color-primary, $color-white);
            &:hover {
                border: 3px solid $color-primary;
                background: $color-white;
                color: $color-primary;
            }
        }
    }

    /* ===== CONTACT ===== */
    .contact {
        @include desktop-container($direction: column, $padding-x: 8rem, $padding-y: 2rem, $gap: 2rem);
        text-align: center;
        
        p {
            font-size: 0.8rem;
        }
        .contact-form {
            @include flex(row, center, center);
            display: flex;
            flex-direction: row;
            gap: 1rem;
            width: 100%;
            max-width: 800px;
        
            .email-error-container { 
            flex: 2; 
            padding: 0.1rem 0.1rem 1.5rem 0.1rem;
            display: flex;
            flex-direction: column;
            position: relative;
        }

            input {
                flex: 1;
                height: 3rem;
            }

            button {
                display: flex;
                flex: 1;
                align-self: flex-start;
                height: 3.2rem;
                cursor: pointer;
                text-align: center;
                justify-content: center; //horitzontal
                align-items: center; //vertical
                
                &:hover {
                    background: $color-white;
                    color: $color-accent;
                    border: 2px solid $color-accent;
                }
            }
        }
    }

    /* ===== FOOTER ===== */
    footer {
        @include desktop-container();
        padding: 1rem 8rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .logo-links {
            display: flex;
            flex-direction: row;
            gap: $gap-dkt-standard;
            justify-content: center;
        }

        .footer-links ul { 
            display: flex; 
            flex-direction: row; 
        }

        .footer-links a:hover { color: $color-accent; }

        .social-media { margin-left: auto; }
        .social-media path:hover { fill: $color-accent; }
    }
}


