@use "mixins" as *;
@use "variables" as *;

/* =====header i navbar===== */
header {
    width: 100%;  // ocupa tot l’ample
}

.navbar {
    @include section-container();
    @include section-content();
    @include flex(row, center, space-between); // general distribution
}

/* ===== HERO general ===== */
.hero {
@include section-container();
    margin-bottom: $space-3xl;
    
    /* Contenidor d’imatges dins del hero */
    .hero-images {
        @include flex(column);
        margin-bottom: $space-xl;
        position: relative;
        overflow: hidden;
    }

    /* Contenidor de text + botons */
    .hero-txt-btn {
        @include flex(column);
        gap: $space-m;
    }
}

/* =====FEATURES=====*/
.features {
    @include section-container();

    .tabs {
        @include flex(column);
        margin-bottom: $space-l;
    }

    .tabs-content {
        @include flex(column);
    }
}

/* ===== DOWNLOAD CARDS ===== */
.download {
    @include section-container();
    @include section-content();
    @include flex(column);
    gap: $space-l;
    margin-bottom: $space-3xl;
}

/* ===== FAQ ===== */
.faq {
    @include section-container(); // padding + centrat + flex-col
    @include section-content();
    @include flex (column, center, center); //treure centers
    margin-bottom: $space-xxl;
}

/* ===== CONTACT ===== */
.contact {
    background: $color-primary; // #5368df
    @include section-content($space-3xl, $space-m);
    @include flex(column);
}

/* ===== FOOTER ===== */
footer {
    background-color: $color-gray-blue;
    @include section-container();
    @include section-content();
    @include flex(column);
    gap: $space-m2;
}
