// _layout.scss

// Header
/* --------header i navbar-------- */

header {
    background-color: #ffffff;
    width: 100%;
    
}

//contenidor
.navbar-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 1.2rem;
}

//enllaços ocults
.nav-links-desktop {
    display: none;
}

/* ===== HERO general ===== */
.hero {
    text-align: center;
    width: 100%;
    padding: $padding-y $padding-x;
    margin-bottom: 4rem;
    align-items: stretch;
}

/* Contenidor d’imatges dins del hero */
.hero-images {
    @include flex-center();
    position: relative;
    width: 100%;
}

/* Contenidor de text + botons */
.hero-txt-btn {
    @include flex-center(column);
    gap: 1.5rem;
}

/* =====FEATURES=====*/
.features {
  @include section-container(); // padding + centrat + flex-col
    margin-bottom: 3rem;
}

.tabs {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

// Footer
footer {
background-color: $color-gray-blue;
padding: 2.5rem $padding-x; // 40px en rem
text-align: center;
}

.footer-links {
display: flex;
flex-direction: column;
justify-content: center;
gap: 1rem;
list-style-type: none;
margin: $gap-footer1 0;
}

.footer-links a {
color: $color-white;
text-decoration: none;
margin: 0 0.625rem; // 10px en rem
font-size: 0.875rem; // 14px en rem
text-transform: uppercase;
letter-spacing: 0.125rem; // 2px en rem
}

.social-media {
display: flex;
flex-direction: row;
justify-content: center;
padding: 1.25rem; // 20px en rem
gap: $gap-footer2; // 40px en rem
}
