/* =====header i navbar===== */
header {
    width: 100%;  // ocupa tot l’ample
}

.navbar {
    @include flex-between(row); // distribució general
    padding: $padding-y $padding-x;
    position: relative;  // necessari per als botons absolutes del menú mòbil
}


/* ===== HERO general ===== */
.hero {
@include section-container(column);
    margin-bottom: 6rem;
    /* Contenidor d’imatges dins del hero */
    .hero-images {
        @include flex-center(column);
        position: relative;
        width: 100%;
        margin-bottom: 3rem;
    }

    /* Contenidor de text + botons */
    .hero-txt-btn {
        @include flex-center(column);
        gap: 1.5rem;
    }
}

/* =====FEATURES=====*/
.features {
    @include section-container(column);
    margin-bottom: 6rem;

    .tabs {
        display: flex;
        flex-direction: column;
        margin-bottom: 1.5rem;
    }

    .tabs-content {
        @include flex-center(column);
    }
    
}

/* ===== DOWNLOAD CARDS ===== */
.download {
    @include flex-center(column);
    line-height: $line-height;
    padding: 1.5rem 1.2rem;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-bottom: 6rem;

    .download-txt {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        margin-bottom: 2rem;
        line-height: 1.5rem;
    }

    .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    }
}

/* ===== FAQ ===== */
.faq {
    @include section-container(column); // padding + centrat + flex-col
    margin-bottom: $margin-standard*2;
    align-items: center; //per evitar q el botó s'estiri

    .questions {
        width: 100%;
        max-width: 600px; // correcte per mobile first
        display: flex;
        flex-direction: column;
        text-align: left;
        list-style-type: none;
        margin: auto;
    }
}

/* ===== CONTACT ===== */
.contact {
  background-color: $color-primary; // #5368df
    padding: 6.25rem 1.8rem;
    @include flex-center(column);
    text-align: center;
    margin: 0 auto;

    .header-p {
    @include flex-center(column);
    font-weight: normal;
    text-transform: uppercase;
    color: $color-white;
    margin-bottom: $gap-mbl-standard;
    letter-spacing: 0.3rem;
    }

    .header-h2 {
    color: $color-white;
    font-weight: bold;
    margin-bottom: $gap-mbl-standard;
}

  /* FORM */
    .contact-form {
    @include flex-center(column);
    gap: $gap-xs;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    }
}

/* ===== FOOTER ===== */
footer {
    background-color: $color-gray-blue;
    padding: 2.5rem $padding-x; // 40px en rem
    text-align: center;

        .logo-links {
        @include flex-center(column);
        gap: 2rem;
        width: 100%;
        max-width: 900px;
        margin: 0 auto;
    }
}