/* =====header i navbar===== */
header {
    width: 100%;  // ocupa tot l’ample
}

.navbar {
    @include section-container();
    @include flex(row, center, space-between); // distribució general
    position: relative;  // necessari per als botons absolutes del menú mòbil
}

/* ===== HERO general ===== */
.hero {
@include section-container();
    margin-bottom: 5rem;
    
    /* Contenidor d’imatges dins del hero */
    .hero-images {
        @include flex(column);
        position: relative;
        width: 100%;
        margin-bottom: 3rem;
    }

    /* Contenidor de text + botons */
    .hero-txt-btn {
        @include flex(column);
        gap: 1.5rem;
    }
}

/* =====FEATURES=====*/
.features {
    @include section-container();
    margin-bottom: 6rem;

    .tabs {
        @include flex(column);
        margin-bottom: 2.5rem;
    }

    .tabs-content {
        @include flex(column);
    }
}

/* ===== DOWNLOAD CARDS ===== */
.download {
    @include section-container();
    @include flex(column);
    gap: 2.5rem;
    margin-bottom: 6rem;

    .download-txt {
        @include flex(column);
        gap: 1.5rem;
    }

    .cards {
        @include flex(column);
        gap: 1.5rem;
    }
}

/* ===== FAQ ===== */
.faq {
    @include section-container(); // padding + centrat + flex-col
    @include flex (column, center, center);
    margin-bottom: $margin-standard*2;
    width: 100%;
    
    .questions {
        @include flex(column);
        max-width: 600px; // correcte per mobile first
        margin: 0 auto;
        width: 100%;
    }
}

/* ===== CONTACT ===== */
.contact {
    background: $color-primary; // #5368df
    padding: 6.25rem 1.8rem;
    @include flex(column);

    .header-contact {
        margin: 0 auto;
        text-align: center;
    }
    
    /* FORM */
    .contact-form {
    @include flex(column);
    gap: $gap-xs;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    }

    .email-error-container {
        width: 100%;
        position: relative;
        
    }
}

/* ===== FOOTER ===== */
footer {
    background-color: $color-gray-blue;
    padding: 2.5rem $padding-section; // 40px en rem
    text-align: center;
    @include section-container();
    @include flex(column);
    gap: 2rem;
}
