/* =====header i navbar===== */

header {
    background-color: #ffffff;
    width: 100%;

    //contenidor
    .navbar {
        @include flex-between(row);
        padding: 1.5rem 1.2rem;

    //menu mbl actiu
    .navbar.menu-open .nav-menu {
        @include flex-center(column);
    }
}
}

/* ===== HERO general ===== */
.hero {
@include section-container(column);
    /* Contenidor d’imatges dins del hero */
    .hero-images {
        @include flex-center();
        position: relative;
        width: 100%;
    }

    /* Contenidor de text + botons */
    .hero-txt-btn {
        @include flex-center(column);
        gap: 1.5rem;
    }
}

/* =====FEATURES=====*/
.features {
    @include section-container(column);
}

.tabs {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

/* ===== DOWNLOAD CARDS ===== */
.download {
    @include flex-center(column);
    padding: 1.5rem 1.2rem; 

    .download-txt {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        margin-bottom: 2rem;
        line-height: 1.5rem;
    }

    .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        margin-bottom: 3rem;
    }
}

/* ===== FAQ ===== */
.faq {
    @include section-container(column); // padding + centrat + flex-col
    margin-bottom: $margin-standard*2;
    align-items: center; //per evitar q el botó s'estiri

    .questions {
        width: 100%;
        max-width: 600px; // correcte per mobile first
        display: flex;
        flex-direction: column;
        text-align: left;
        list-style-type: none;
        margin: auto;
    }
}

/* ===== CONTACT ===== */

.contact {
  background-color: $color-primary; // #5368df
    padding: 6.25rem 1.8rem;
    @include flex-center(column);
    text-align: center;
    margin: 0 auto;

    .header-p {
    @include flex-center(column);
    font-weight: normal;
    text-transform: uppercase;
    color: $color-white;
    margin-bottom: $gap-mbl-standard;
    letter-spacing: 0.3rem;
    }

    .header-h2 {
    color: $color-white;
    font-weight: bold;
    margin-bottom: $gap-mbl-standard;
}

  /* FORM */
    .contact-form {
    @include flex-center(column);
    gap: $gap-xs;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    }
}

/* ===== FOOTER ===== */
footer {
    background-color: $color-gray-blue;
    padding: 2.5rem $padding-x; // 40px en rem
    text-align: center;

        .logo-links {
        @include flex-center(column);
        gap: 2rem;
        width: 100%;
        max-width: 900px;
        margin: 0 auto;
    }
}