// scss/_mixins.scss
@use "sass:map";
@use "variables" as *;

@mixin section-container() {
  width: 100%;
  margin: 0 auto;
  padding: $space-l;
}

@mixin flex($direction: row, $align: center, $justify: center) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin button($bg-color, 
  $padding-x, 
  $padding-y, 
  $border-color, 
  $color,
  $radius: $radius-button, 
  ) {
  background-color: $bg-color;
  padding: $padding-y $padding-x; 
  border: 3px solid $bg-color;
  color: $color;
  border-radius: $radius;
  font-weight: bold;
  cursor: pointer;
  box-shadow: $shadow-card;
  text-decoration: none;
}

@mixin card($bg: $color-white) {
  background-color: $bg;
  padding: $padding-card-y $padding-card-x;
  border-radius: $radius-card;
  box-shadow: $shadow-card;
  @include flex(column);
  text-align: center;
  width: 100%;
  flex-wrap: wrap;
}

@mixin error-container {
  position: relative;
  padding: 0 .1rem 1.5rem 0.1rem;
  border-radius: 5px;
  width: 100%;

  img {
    position: absolute;
    right: $space-s;
    top: $space-s;
    width: 1.25rem;
    display: none;
  }

  &.error {
    background: $color-accent;

    img { display: block; }
  }
}

@mixin desktop-container($direction: row, $padding-y: $space-m2, $padding-x: 8rem, $gap: $space-m2) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  padding: $padding-y $padding-x;
  margin: 0 auto;
}

// Mixin per blobs responsius
@mixin responsive-blob($radius-mobile, $radius-desktop, $width-mobile, $width-desktop, $position: (bottom: 0, right: 0)) {
  position: absolute;
  bottom: map.get($position, bottom);
  right: map.get($position, right);
  width: $width-mobile;
  height: clamp(180px, 25vw, 260px);

  background-color: $color-primary;
  border-radius: $radius-mobile;
  z-index: -1;

  @media (min-width: 768px) {
    width: $width-desktop;
    height: clamp(240px, 20vw, 320px);
    border-radius: $radius-desktop;
  }
}

