
@mixin section-container() {
  width: 100%;
  margin: 0 auto;
  padding: $padding-section $padding-section;
}

@mixin button($bg-color, 
  $padding-x, 
  $padding-y, 
  $border-color, 
  $color,
  $radius: $radius-button, 
  ) {
  background-color: $bg-color;
  padding: $padding-y $padding-x; 
  border: 3px solid $bg-color;
  color: $color;
  border-radius: $radius;
  font-weight: bold;
  cursor: pointer;
  box-shadow: $shadow-card;
  text-decoration: none;
}

@mixin card($bg: $color-white) {
  background-color: $bg;
  padding: $padding-card;
  border-radius: $radius-card;
  box-shadow: $shadow-card;
  @include flex(column);
  text-align: center;
  width: 100%;
  flex-wrap: wrap;
}

@mixin error-container {
  position: relative;
  padding: 0 .1rem 1.5rem .1rem;
  border-radius: 5px;
  width: 100%;

  img {
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 1.25rem;
    display: none;
  }

  &.error {
    background: $color-accent;

    img { display: block; }
  }
}

@mixin flex($direction: row, $align: center, $justify: center) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin desktop-container($direction: row, $padding-y: 2rem, $padding-x: 8rem, $gap: 2rem) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  padding: $padding-y $padding-x;
  margin: 0 auto;
}
