//HEADER - NAVBAR

header {
    background-color: $color-white;
    width: 100%;

    .navbar-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: $padding-y $padding-x; 
}

.nav-links-desktop {
    display: none;

    a {
        text-decoration: none;
    color: $color-black;
    letter-spacing: 0.2rem;
    }
}

.menu-btn,
.close-btn {
    border: none;
    background: none;
    cursor: pointer;
}

.navbar-menu-active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    flex-direction: column;
    background: rgba(37, 43, 70, 0.95);
    z-index: 999;
}

.menu-open {
    .close-btn {
    display: block;
    }

    .menu-btn {
    display: none;
    }

    .navbar-menu-active {
    display: flex;
    }
}

.nav-menu .login-btn {
    @include button($color-white, $padding-x, $padding-y, $color-white, $color-white);
    margin-top: $gap-sm;
    width: 100%;
    }
}

// Desktop
@include desktop {
    header {
        .navbar-main {
            padding: 2rem 8rem;

        .nav-links-desktop {
            display: flex;
            gap: $gap-lg;
            align-items: center;

            a:hover {
            color: $color-accent;
            cursor: pointer;
            }

            .login-btn {
                background: $color-accent;
                color: $color-white;
                border: 1px solid $color-accent;
                padding: 0.8rem 2rem;

            &:hover {
                background: $color-white;
                color: $color-accent;
            }
        }
    }
        }

        .menu-btn {
        display: none;
        }
    }
}

// Hero Section
.hero {
    @include section-container;
    margin-bottom: $gap-xl;

    .hero-images {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: $gap-md;

        .hero-image img {
        margin-bottom: $gap-lg;
        max-width: 100%;
        height: auto;
        z-index: 1;
        }

        .hero-bg-shape {
        position: absolute;
        bottom: 5%;
        right: -5%;
        width: 75%;
        height: 60%;
        aspect-ratio: 2/1;
        background: $color-primary;
        border-radius: $radius-l-mbl;
        z-index: -1;
        }
    }

    .hero-txt-btn {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: $gap-sm;

        .hero-text {
        display: flex;
        flex-direction: column;
        gap: $gap-sm;
        margin-bottom: $margin-base;
        line-height: $line-sm;
        }

        .hero-buttons {
        display: flex;
        flex-direction: row;
        gap: $gap-sm;

        button {
            padding: $padding-y $padding-x;
            border-radius: $radius-s;
            font-weight: bold;

            &.chrome-btn {
            @include button($color-primary, $padding-x, $padding-y, $color-primary, $color-white);
            }

            &.firefox-btn {
            @include button($color-white, $padding-x, $padding-y, $color-white, $color-dark-gray);
            }
        }
        }
    }
    }

    // Hero Desktop
    @include desktop {
    .hero {
        padding: 2rem 8rem;

        .hero-wrapper {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: $gap-xl;
        width: 100%;
        }

        .hero-txt-btn {
        align-items: flex-start;
        text-align: left;

        .hero-text {
            width: 90%;
        }
        }

        .hero-bg-shape {
        bottom: 8%;
        right: -30%;
        width: 95%;
        height: 60%;
        border-radius: $radius-l-dkp;
        }
    }
    }

// Features Section
.features {
    @include section-container;
    margin-bottom: $gap-xl;

    .features-text {
        display: flex;
        flex-direction: column;
        margin-bottom: $gap-xl;
        gap: $gap-md;
        line-height: $line-sm;
    }

    .tabs {
        display: flex;
        flex-direction: column;
        margin-bottom: $margin-base;

        .tab {
        background: none;
        border: none;
        padding: $gap-md;
        font-size: $font-base;
        cursor: pointer;

        &.active {
            border-bottom: 3px solid $color-accent;
        }
        }

        .btn-line {
        border-bottom: 1px solid $color-light-gray;
        
        &:first-child {
            border-top: 1px solid $color-light-gray;
        }
        }

        .tab-content {
        display: none;
        flex-direction: column;
        align-items: center;
        text-align: center;

        &.active {
            display: flex;
        }

        img {
            width: 100%;
            margin: $gap-md 0;
        }

        .text-tab {
            display: flex;
            flex-direction: column;
            margin-top: $gap-lg;
            gap: $gap-lg;
            margin-bottom: 1.8rem;
            line-height: $line-sm;
        }

        .info-btn {
            @include button($color-primary, $padding-x, $padding-y, $color-primary, $color-white);
        }
        }
    }

    .tab-imgs {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        position: relative;

        .tab-img img {
        margin-bottom: $gap-lg;
        max-width: 80%;
        height: auto;
        z-index: 1;
        position: relative;
        }

        .features-bg-shape {
        position: absolute;
        bottom: -5%;
        left: -20%;
        width: 98%;
        height: 60%;
        background: $color-primary;
        border-radius: 0 $radius-l-mbl $radius-l-mbl 0;
        z-index: -1;
        }
    }
    }

    // Features Desktop
    @include desktop {
    .features {
        padding: 2rem 8rem;

        .features-text {
        width: 40%;
        margin-left: auto;
        margin-right: auto;
        }

        .tabs {
        flex-direction: row;

        .tab-content {
            flex-direction: row;
            gap: $gap-xl;
            margin-left: auto;
            margin-right: auto;
            justify-content: space-evenly;

            .txt-btn {
            flex-direction: column;
            width: 40%;
            text-align: left;
            flex: 1;
            }
        }
        }

        .tab-imgs {
        flex: 1;
        display: flex;
        justify-content: flex-end;

        .tab-img img {
            flex: 1;
        }
        }

        .features-bg-shape {
        bottom: -10%;
        left: -50%;
        width: 125%;
        height: 80%;
        border-radius: $radius-l-dkp;
        }
    }
    }

// Download Section
.download {
    @include section-container;

    .download-txt {
        display: flex;
        flex-direction: column;
        gap: $gap-lg;
        margin-bottom: $gap-xl;
        line-height: $line-sm;
    }

    .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: $gap-md;
        margin-bottom: $gap-xl;

        .card-chrome,
        .card-firefox,
        .card-opera {
        @include card($color-white, $gap-lg);
        
        img.logo {
            margin-bottom: $gap-lg;
        }

        h3 {
            margin-bottom: 0.0625rem; // 1px
        }

        p {
            margin-bottom: 1.875rem; // 30px
            color: $color-light-gray;
        }

        .cardbutton {
            @include button($color-primary, 1.2rem, 1rem, $color-primary, $color-white);
            margin-top: 1.25rem; // 20px
        }
        }

        .card-firefox {
        margin-top: 4rem;
        }

        .card-opera {
        margin-top: 8rem;
        }
    }
    }

    // Download Section Desktop
    @include desktop {
    .download {
        margin: 2rem 8rem;

        .download-txt {
        width: 60%;
        }

        .cards {
        flex-direction: row;
        justify-content: space-evenly;
        gap: 0.5rem;
        }

        .cardbutton {
        cursor: pointer;

        &:hover {
            border: 3px solid $color-primary;
            background: $color-white;
            color: $color-primary;
        }
        }
    }
    }

// FAQ Section
.faq {
    @include section-container;
    padding: $padding-y $padding-x;
    margin-bottom: $gap-xl;

    h2 {
        margin-bottom: $gap-xl;
    }

    h3 {
        font-size: $font-sm;
        font-weight: normal;
    }

    p {
        margin-bottom: 2.5rem; // 40px
        line-height: 1.875rem; // 30px
        max-width: 37.5rem; // 600px
        margin-left: auto;
        margin-right: auto;
    }

    .questions {
        width: 100%;
        max-width: 37.5rem; // 600px
        display: flex;
        flex-direction: column;
        text-align: left;

        .question {
        list-style-type: none;

        .question-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1.25rem 0; // 20px 0
            border-bottom: 1px solid $color-light-gray;
            cursor: pointer;

            h3 {
            flex: 1;
            text-align: left;
            margin-right: 0.625rem; // 10px
            overflow-wrap: anywhere;
            }

            .arrow {
            width: 1.25rem; // 20px
            transition: transform 0.3s ease;
            color: $color-primary;
            }
        }

        .answer {
            display: none;
            margin-top: $gap-sm;
            margin-bottom: $gap-lg;
            color: $color-light-gray;
            line-height: $line-sm;
        }

        &.active {
            .answer {
            display: block;
            }

            .question-header {
            border: none;

            .arrow path {
                stroke: currentColor;
                transform: rotate(180deg);
            }
            }
        }
        }
    }

    .faq-button {
        @include button($color-primary, 1.5rem, 1rem, $color-primary, $color-white);
        margin-top: 2.1875rem; // 35px
        cursor: pointer;
    }
    }

    // FAQ Section Desktop
    @include desktop {
    .faq {
        .questions {
        margin-left: auto;
        margin-right: auto;
        }

        .faq-button:hover {
        border: 3px solid $color-primary;
        background: $color-white;
        color: $color-primary;
        }

        .question-header:hover h3 {
        color: $color-accent;
        }
    }
    }

// Contact Section
.contact {
    background-color: $color-primary;
    @include section-container;
    padding: 6.25rem $padding-x; // 100px 1.2rem
    color: $color-white;

    .header-p {
        font-weight: normal;
        text-transform: uppercase;
        letter-spacing: 0.3125rem; // 5px
        margin-bottom: $gap-lg;
    }

    .header-h2 {
        font-weight: bold;
        margin-bottom: $gap-lg;
    }

    .contact-form {
        display: flex;
        flex-direction: column;
        gap: $gap-sm;
        width: 100%;
        margin: 0 auto;

        input {
        width: 100%;
        padding: 0.9375rem; // 15px
        border: none;
        border-radius: $radius-s;
        }

        button {
        @include button($color-accent, 0.9375rem, 0.9375rem, $color-accent, $color-white);
        width: 100%;
        cursor: pointer;
        }

        .email-error-container {
        position: relative;
        padding: 0.125rem 0.125rem 1.5625rem 0.125rem; // 2px 2px 25px 2px
        border-radius: $radius-s;

        &.error {
            background: $color-accent;

            input {
            width: 100%;
            }

            .email-error {
            display: block;
            color: $color-white;
            font-size: $font-xs;
            font-style: italic;
            position: absolute;
            bottom: 0.1875rem; // 3px
            left: 0.625rem; // 10px
            text-align: left;
            }

            img {
            display: block;
            position: absolute;
            right: 0.9375rem; // 15px
            top: 0.9375rem; // 15px
            width: 1.25rem; // 20px
            }
        }
        }
    }
    }

    // Contact Section Desktop
    @include desktop {
    .contact {
        .contact-form {
        flex-direction: row;

        .email-error-container {
            flex: 2;
        }

        button {
            flex: 1;
            height: 50%;
            border: 2px solid $color-accent;

            &:hover {
            border: 2px solid $color-accent;
            color: $color-accent;
            background: $color-white;
            }
        }
        }
    }
    }

// Footer Section
footer {
    background-color: $color-gray-blue;
    padding: 2.5rem $padding-x; // 40px 1.2rem
    text-align: center;
    color: $color-white;

    .logo-invert path {
        stroke: none;
        fill: $color-white;
    }

    .footer-links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: $gap-md;
        list-style: none;
        margin: $gap-sm 0;

        a {
        color: $color-white;
        text-decoration: none;
        margin: 0 0.625rem; // 10px
        font-size: 0.875rem; // 14px
        text-transform: uppercase;
        letter-spacing: 0.125rem; // 2px

        &:hover {
            color: $color-accent;
        }
        }
    }

    .social-media {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: $gap-md;
        gap: 2.5rem; // 40px

        path:hover {
        fill: $color-accent;
        }
    }
    }

    // Footer Desktop
    @include desktop {
    footer {
        padding: 0.5rem 8rem;

        .footer-links {
        flex-direction: row;
        }

        .footer-logo {
        padding: $gap-md;
        }

        .logo-links {
        display: flex;
        }

        .social-media {
        margin-left: auto;
        }
    }
    }
