// Colors, fonts, mides//

// Colors
$color-white: #f7f7f7; //backgrounds, textos, botons
$color-black: #171616; //textos generals
$color-light-gray: #cfcfcf; //textos secundaris, paràgrafs, border
$color-mid-gray: #949494; //answer faqs
$color-dark-gray: #454444; //ombres, boto firefox, tab content
$color-gray-blue: #252b46f2; //footer, menu nav mobil
$color-primary: #4d5ae4; //fons blobs, botons, formulari, FAQ
$color-accent: #ff6565; //hover, download btns, form submit error

// Fonts
$fontfam-main: Verdana, sans-serif; //global, mateixa font per tot el body
$font-error: 0.7rem;        // error msg
$size-small: 0.9rem;
$size-xs: 0.8rem;

$size-h1: clamp(2rem, 3vw, 3rem);
$size-h2: clamp(1.75rem, 3vw, 2.5rem);
$size-h3: clamp(1.5rem, 3vw, 2rem);
$size-h4: clamp(1.25rem, 3vw, 1.75rem); //download cards title
$size-h5: clamp(1.1rem, 3vw, 1.5rem); //faqs tab title
$size-h6: clamp(1rem, 3vw, 1.1rem);
$size-p: clamp(0.9rem, 3vw, 1.1rem); 

//Espai entre línies (line height)
$line-height: 1.6;          

// Ombra
$shadow-card: 0px 5px 15px rgba($color-dark-gray, 0.3); //cards, botons, elements amb relleu

// Espaiats
$padding-card-y: 1.25rem;
$padding-card-x: 0.8rem;

$space-xs: 0.6rem;
$space-s: 1rem; //$gap-s: 1rem;
$space-m: 1.8rem; //$gap-mbl-standard: 1.8rem; $padding-mobile: 1.8rem;
$space-m2: 2rem;
$space-l: 2.5rem; //$gap-l: 2.5rem; , $padding-section: 2.5rem;
$space-xl: 3rem;
$space-xxl: 4rem; //$gap-dkt-standard: 4rem; //desktop-standard
$space-3xl: 6rem; //$padding-section-xl: 6.25rem; , ex space-xxl, 
//max width
$max-content: 600px;
$max-form: 500px;
$max-card: 350px;

//vores arrodonides
$radius-button: 5px;
$radius-card: 10px;
$radius-blob-mbl: 300px;
$radius-blob-dkp: 400px;

$radius-blobr-dkp: $radius-blob-dkp 0 0 $radius-blob-dkp; //blob q surt d la dreta
$radius-blobl-dkp: 0 $radius-blob-dkp $radius-blob-dkp 0;
$radius-blobr-mbl: $radius-blob-mbl 0 0 $radius-blob-mbl;
$radius-blobl-mbl: 0 $radius-blob-mbl $radius-blob-mbl 0;



