// Colors, fonts, mides//

// Colors
$color-white: #f7f7f7; //backgrounds, textos, botons
$color-black: #171616; //textos generals
$color-light-gray: #cfcfcf; //textos secundaris, paràgrafs, border
$color-mid-gray: #949494; //answer faqs
$color-dark-gray: #454444; //ombres, boto firefox, tab content
$color-gray-blue: #252b46f2; //footer, menu nav mobil
$color-primary: #4d5ae4; //fons blobs, botons, formulari, FAQ
$color-accent: #ff6565; //hover, download btns, form submit error

// Fonts
$fontfam-main: Verdana, sans-serif; //global, mateixa font per tot el body
$font-error: 0.7rem;        // error msg
$size-small: 0.9rem;
$size-xs: 0.8rem;

$size-h1: 2.2rem;
$size-h2: 1.8rem;
$size-h3: 1.4rem;
$size-h4: 1.15rem; //download cards title
$size-h5: 1.1rem; //faqs tab title
$size-p: 1rem; 

//Espai entre línies (line height)
$line-height: 1.6rem;          

// Ombra
$shadow-card: 0px 5px 15px rgba($color-dark-gray, 0.3); //cards, botons, elements amb relleu

// Espaiats
$padding-card: 1.25rem;
$padding-section: 2.5rem;
$padding-mobile-x: 1.8rem;
$padding-section-xl: 6.25rem;

$margin-standard: 3rem;
$margin-l: 4rem;
$margin-xl: 6rem; //desktop

$gap-xs: 0.6rem;
$gap-s: 1rem;
$gap-mbl-standard: 1.8rem;
$gap-m: 2rem;
$gap-l: 2.5rem;
$gap-dkt-standard: 4rem; //desktop-standard

//vores arrodonides
$radius-button: 5px;
$radius-card: 10px;
$radius-blob-mbl: 300px;
$radius-blob-dkp: 400px;

$radius-blobr-dkp: $radius-blob-dkp 0 0 $radius-blob-dkp; //blob q surt d la dreta
$radius-blobl-dkp: 0 $radius-blob-dkp $radius-blob-dkp 0;
$radius-blobr-mbl: $radius-blob-mbl 0 0 $radius-blob-mbl;
$radius-blobl-mbl: 0 $radius-blob-mbl $radius-blob-mbl 0;



