// Colors, fonts, mides//

// Colors
$color-white: #f7f7f7; //backgrounds, textos, botons
$color-black: #171616; //textos generals
$color-light-gray: #959895; //textos secundaris, paràgrafs, border
$color-dark-gray: #454444; //ombres, boto firefox, tab content
$color-gray-blue: #303869; //footer, menu nav mobil
$color-primary: #4d5ae4; //fons blobs, botons, formulari, FAQ
$color-accent: #ff6565; //hover, download btns, form submit error

// Fonts
$font-main: Verdana, sans-serif; //global, mateixa font per tot el body
$font-xs: 0.7rem;        // error msg
$font-sm: 0.9rem;        // h3 FAQ
$font-base: 1rem;        // text normal / tab buttons
$font-lg: 1.2rem;        // paràgrafs destacats
$font-xl: 1.5rem;        // h2 seccions
$font-xxl: 2.25rem;      // h1 hero desktop
$font-btn: 1.0625rem;    // 17px buttons desktop

//Line Height
$line-xs: 1.2;           // textos petits
$line-sm: 1.5;           // paràgrafs normals
$line-lg: 2;             // títols hero / separacions grans

// Ombra
$shadow-card: 0px 5px 15px rgba($color-dark-gray, 0.3); //cards, botons, elements amb relleu

// Espaiats
$padding-x: 1.2rem;
$padding-y: 1.5rem;
$padding-cards: 1.25rem;
$margin-base: 1.5rem;

$gap-xs: 0.5rem;
$gap-sm: 1rem;
$gap-md: 1.2rem;
$gap-lg: 1.5rem;
$gap-xl: 3rem;

$radius-s: 5px;
$radius-m: 10px;
$radius-blobr-dkp: 400px 0 0 400px; //blob q surt d la dreta
$radius-blobl-dkp: 0 400px 400px 0;
$radius-blobr-mbl: 300px 0 0 300px;
$radius-bl-mbl: 300px 0 0 300px;



