@use 'variables';
@use 'mixins';
@use 'layout';
@use 'components';
@use 'desktop';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: variables.$fontfam-main;
    background: variables.$color-white;
    overflow-x: hidden;
}