@import 'variables';
@import 'mixins';
@import 'layout';
@import 'components';
@import 'desktop';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $fontfam-main;
    background: $color-white;
    overflow-x: hidden;
}