/*  Reset  */

* { /* el selector de tot */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* --------Global styles-------- */

:root {
    font-family: Verdana, sans-serif;
    color: black;
}

body {
    background-color: #ffffff;
    line-height: 1.5;
}

p {
    color: #959895;
}

img {
    max-width: 300px;
}

/* --------header i navbar-------- */

header {
    background-color: #ffffff;
    width: 100%;
    
}

.navbar-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 1.2rem;
}

.nav-links-desktop {
    display: none;
}

.menu-btn,
.close-btn {
    border: none;
    background: none;
    cursor: pointer;
}

/* MENU ACTIVAT FULL SCREEN */

.navbar-menu-active {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%; /* o 100 vw, tot l'ample*/
    height: 100vh; /*tot l'alt*/

    display: none; /*hidden x defecte */
    flex-direction: column;
    background: #252b46f2;
    opacity: 90%;
    padding: 1.6rem 1.2rem;
    z-index: 999;
}

/*quan s'obre menu, es mostra*/
.navbar.menu-open .navbar-menu-active {
    display: flex;
}

/* capçalera dins d menu actiu */
.navbar-active {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*menu interior desplegat */
.menu-active ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    list-style-type: none;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 0.2rem;
}

.menu-active a {
    color: #ffffff;
    text-decoration: none;
}

/* divs dels items del menu*/
.nav-menu div {
    width: 100%;
    padding: 20px 40px;
    text-align: center;
}

.btn-line {
    border-top: 1px solid #ffffff50;
    padding-top: 1.5rem;
}

/*amagar creu x defecte*/
.close-btn {
    display: none;
}

/* si menu obert, mostrar X i amagar hamburguesa */
.menu-open .close-btn {
    display: block;
}
.menu-open .menu-btn {
    display: none;
}

/*login botó*/
.nav-menu .login-btn {
    width: 100%;
    text-decoration: none;
    padding: 15px 0;
    border-radius: 5px;
    border-color: #ffffff;
    font-weight: bold;
    background: transparent;
    color: #ffffff;
    font-size: 18px;    letter-spacing: 0.2rem;
    margin-top: 15px;
}

/* ------------ hero ------------*/
.hero {
    align-items: stretch;
    text-align: center;
    padding: 40px 20px;
    margin-bottom: 100px;
}

.hero-images {
    width: 100%;
    height: auto;
}

.hero-image img {
    margin-bottom: 30px;
    max-width: 100%;
    height: auto;
    z-index: 1; /* sempre davant de la forma*/
    position: relative;
}

.hero-bg-shape {
    position: absolute;
    /*width: 60%;
    height: 25%; */
    aspect-ratio: 1/1;
    background: #4d5ae4;
    border-radius: 180px 0 0 180px;
    top: 25%;
    left: 40%;
    z-index: -1;
}

.hero-text h1 {
   
    margin-bottom: 20px;
}

.hero-text p {
    margin-bottom: 20px;
    line-height: 1.5;
}

.hero-txt-btn {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: 30px;
}

.hero-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.hero-buttons a {
    text-decoration: none;
    padding: 15px 25px;
    border-radius: 5px;
    font-weight: bold;
}

.chrome-btn {
    background-color: #2c3be0;
    color: white;
    box-shadow: 0px 5px 15px #6564644d;
}

.firefox-btn {
    background-color: #f7f7f7;
    color: #454444;
    box-shadow: 0px 5px 15px #6564644d;
}

/* --------FEATURES -------- */

.features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 40px 20px;
}

.features-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.features h2 {
    margin-bottom: 20px;
}

.features p {
    margin-bottom: 20px;
    line-height: 1.5;
}

.tabs {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.tab button {
    font-size: 1rem;
    color: #454444;

}

.tabs div {
    border-bottom: 1px solid #7a7777;
}

.tabs .btn-line {
    max-width: 600px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;

}
.tabs .btn-line:first-child {
    border-top: 1px solid #7a7777;
}

.tab {
    background: none;
    border: none;
    padding: 20px;
    font-size: 1rem;
    cursor: pointer;
}

.tab.active {
    border-bottom: 3px solid #a62121;
}

.tab-content {
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.tab-content.active {
    display: flex;
}

.tab-content img {
    width: 100%;
    margin: 20px 0;
}

.tab-content h3 {
    margin-bottom: 10px;
}

.tab-content p {
    padding: 0 20px;
    line-height: 1.5rem;
}

/* --------Download Cards-------- */

.download { /* afecta la seccio download sencera */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px 20px;
}

.download h2 {
    margin-bottom: 10px;
}

.download p {   
    margin-bottom: 30px;
    line-height: 1.5;
}

.cards { /*hem de tornar a indicar flex perque per defecte els divs son display block*/
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
    gap: 20px;
    width: 100%;
}

.card-chrome, .card-firefox, .card-opera {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px #6564644d;
    display: flex; /* ho hem de tornar a posar perque per defecte els divs son display block*/
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 300px;
}

.cards img.logo {  /* nova classe per les imatges dels logos */
    margin-bottom: 25px;
}

.card-chrome h3, .card-firefox h3, .card-opera h3 {
    margin-bottom: 1px;
}

.card-chrome p, .card-firefox p, .card-opera p {
    margin-bottom: 30px;
    color: #959895;
}

.cardbutton {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 20px;
    text-decoration: none;
    background-color: #5368df;
    color: white;
    padding: 12px 20px;
    border-radius: 5px;
    font-weight: normal;
    box-shadow: 0px 5px 15px #6564644d;
}

/* --------FAQ section-------- */

.faq {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 30px;
    margin-bottom: 100px;
}

.faq h2 {
    margin-bottom: 30px;
}

.faq h3 {
    font-size: 0.9rem;
    font-weight: normal;
}

.faq p {   
    margin-bottom: 40px;
    line-height: 30px;
    max-width: 600px; /*es correcte posar aixo al mvl version?*/
}

.questions { /* contenedor de las preguntas */
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    text-align: left;
}
.question {
    list-style-type: none;
}

/* botó h3+arrow per a cada pregunta */
.question-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
    border-bottom: 1px solid #7a7777;
    cursor: pointer;
}

.question h3 {
    flex: 1; /* perque el text ocupi tot l'espai possible */
    text-align: left;
    margin-right: 10px; /* perque no estigui enganxat a la fletxa */
    overflow-wrap: anywhere; /* perque el text es trenqui si es massa llarg */
}

.arrow { 
/* classe per girar la fletxa quan la resposta esta oberta */
    width: 20px;
    transition: transform 0.3s ease; /* animacio suau al girar la fletxa. Params: propietat, durada, tipus d'animacio */
    color: #5267DF;
}

.answer { /* classe per la resposta de cada pregunta */
    display: none;
    text-align: left;
    margin-top: 15px;
    color: #7a7777;
    line-height: 1.5;
}

.question.active .answer{ /* quan la pregunta esta activa, mostra la resposta */
    display: block;
    margin-bottom: 20px;
}

.question.active .question-header { /* per amagar barra */
    border: none;
}

.question-header.active .arrow path { /* quan la pregunta esta activa, gira la fletxa cap avall */
    stroke: currentColor; 
    transform: rotate(180deg);
}

.faq-button {
    margin-top: 35px;
    background-color: #5368df;
    color: white;
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    font-weight: normal;
    box-shadow: 0px 5px 15px #6564644d;
    cursor: pointer;
    text-decoration: none;
}

/* --------contact section --------*/
.contact {
    background-color: #5368df;
    padding: 100px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto; /* per que el background toqui per tots dos costats*/
}

.contact .header-p {
    font-weight: normal;
    text-transform: uppercase;
    color: white;
    margin-bottom: 30px;
    letter-spacing: 5px;
}

.contact .header-h2 {
    color: white;
    margin-bottom: 30px;
    font-weight: bold;
}

/* FORM en columna*/
.contact-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin: 0 auto;
}

/* Input + botó en columna */
.contact-form input {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
}

.contact-form button {
    background-color: #ff6565;
    width: 100%;
    color: #ffffff;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

/* error message */
.email-error {
    display: none;
    position: absolute;
    bottom: 3px;
    left: 10px;
    color: white;
    font-size: 0.7em;
    font-style: italic;
    text-align: left;

}
.email-error-container {
    position: relative;
    padding: 2px 2px 25px 2px;
    border-radius: 5px;
}

.email-error.error {
    display: block;
}

.email-error-container.error {
    background: #ff6565;
}

.email-error-container input {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
}

.email-error-container img {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 20px;
    display: none;
}

.email-error-container.error img {
    display: block;
}

/* --------footer-------- */
footer {
    background-color: #303869;
    padding: 40px 20px;
    text-align: center;
}

footer .logo-invert path {
    stroke: none; 
    fill: white;
}

.footer-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    list-style-type: none;
    margin: 15px 0;
}

.footer-links a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.social-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    gap: 40px;
}

/*===== DESKTOP ======*/
@media (min-width: 1024px) {

    body {
        padding: 3rem 4rem;
    }

    img {
        max-width: 500px;
    }
    /* DKTP heading */
    .navbar-main {
    justify-content: space-between;
    }

    .nav-links-desktop {
        display: flex;
        gap: 2rem;
        align-items: center;
    }

    .nav-links-desktop a {
        text-decoration: none;
        color: black;
        letter-spacing: 0.2rem;
    }

    .nav-links-desktop a:hover {
        cursor: pointer;
        color: #ff6565
    }

    .nav-links-desktop .login-btn {
        width: 100%;
        text-decoration: none;
        border: 1px solid #ff6565;
        border-radius: 5px;
        font-weight: bold;
        background: #ff6565;
        color: #ffffff;
        font-size: 18px;    
        letter-spacing: 0.2rem;
        padding: 0.8rem 2rem;
        box-shadow: 0px 5px 15px #6564644d;
    }

    .login-btn:hover {
        background: #ffffff;
        color: #ff6565;
    }

    .navbar-menu {
        display: none;
    }

    .menu-btn {
        display: none;
    }

    /*======= HERO SECTION =====*/

    .hero {
        display: flex;
        flex-direction: row-reverse;
    }

    .hero-images {
        justify-content: right;
        margin-left: auto;
    }

   .hero-images img {
    place-content: center;
    margin-top: 40px;
   }

    .hero-txt-btn {
        text-align: left;
        place-items: start;
    }

    /*---FAQS---*/
    .question h3:hover {
    color: #2c3be0;
    }
}