/*  Reset  */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*  Global  */

:root {
    font-family: Verdana;
    color: black;
}


body {
    background-color: #ffffff;
}

p {
    color: #959895;
}

/* header i navbar */

header {
    background-color: white;
    padding: 30px 30px;
}

.navbar {
    display: flex;
}

.navbar > img {
    margin-right: auto;
}

.menu-button {
    margin-left: auto;
    border: none;
    background-color: #ffffff;
}

/* hero */

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px 30px;

}

.hero-image {
    display: flex;
    margin-bottom: 50px;
    width: 100%;
    justify-content: center;
}

.hero-text h1 {
    margin-bottom: 30px;
}

.hero-text p {
    margin-bottom: 30px;
}

.hero-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}