/*  Reset  */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*  Global  */

:root {
    font-family: Verdana;
    color: black;
}


body {
    background-color: #ffffff;
}

p {
    color: #959895;
}

/* header i navbar */

header {
    background-color: white;
    padding: 30px 30px;
}

.navbar {
    display: flex;
}

.navbar > img {
    margin-right: auto;
}

.menu-button {
    margin-left: auto;
    border: none;
    background-color: #ffffff;
}

/* hero */

.hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px 30px;
    margin-bottom: 100px;

}

.hero-image {
    display: flex;
    margin-bottom: 50px;
    width: 100%;
    justify-content: center;
}

.hero-text h1 {
    margin-bottom: 30px;
}

.hero-text p {
    margin-bottom: 30px;
    padding: 0 100px;
    line-height: 30px;
}

.hero-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.hero-buttons a {
    text-decoration: none;
    padding: 15px 25px;
    border-radius: 5px;
    font-weight: bold;
}

.hero-buttons .chrome-btn {
    background-color: #2c3be0;
    color: white;
    box-shadow: 0px 5px 15px #6564644d;
}

.hero-buttons .firefox-btn {
    background-color: #f7f7f7;
    color: #454444;
    box-shadow: 0px 5px 15px #6564644d;
}

/* FEATURES SECTION */

.features {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    margin-bottom: 100px;
    padding: 0 30px;
}

.features h2 {
    text-align: center;
}

.features p {
    text-align: center;
    margin-bottom: 30px;
    padding: 0 100px;
    line-height: 30px;
}

.tabs {
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.tabs button {
    font-size: 1rem;
    color: #454444;
}

.tab {
    background: none;
    border: none;
    padding: 1rem;
    cursor: pointer;
}

.tab.active {
    border-bottom: 4px solid #a62121;
}

.tabs div {
    border-bottom: 1px solid #7a7777;
}

.tab-content {
    display: none;
    justify-content: center;
}

.tab-content.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center
}

.tabs-content img {
    width: 100%;
    max-width: 350px;
    margin: 0 auto 5rem;
    display: block;
}

.tabs-content h3 {
    margin-bottom: 1rem;
    text-align: center;
}

.tabs-content p {
    padding: 0 100px;
    line-height: 30px;
}




