@charset "UTF-8";
/* =====header i navbar===== */
header {
  width: 100%;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 1.2rem;
  position: relative;
}

/* ===== HERO general ===== */
.hero {
  margin-right: 2rem;
  margin-left: 2rem;
  margin-bottom: 3rem;
  padding: 1.5rem 1.2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 6rem;
  /* Contenidor d’imatges dins del hero */
}
.hero .hero-images {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  width: 100%;
  margin-bottom: 3rem;
}
.hero {
  /* Contenidor de text + botons */
}
.hero .hero-txt-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1.5rem;
}

/* =====FEATURES=====*/
.features {
  margin-right: 2rem;
  margin-left: 2rem;
  margin-bottom: 3rem;
  padding: 1.5rem 1.2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 6rem;
}
.features .tabs {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}
.features .tabs-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* ===== DOWNLOAD CARDS ===== */
.download {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1.5;
  padding: 1.5rem 1.2rem;
  margin-right: 2rem;
  margin-left: 2rem;
  margin-bottom: 6rem;
}
.download .download-txt {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 2rem;
  line-height: 1.5rem;
}
.download .cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

/* ===== FAQ ===== */
.faq {
  margin-right: 2rem;
  margin-left: 2rem;
  margin-bottom: 3rem;
  padding: 1.5rem 1.2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 6rem;
  align-items: center;
}
.faq .questions {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  text-align: left;
  list-style-type: none;
  margin: auto;
}

/* ===== CONTACT ===== */
.contact {
  background-color: #4d5ae4;
  padding: 6.25rem 1.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-align: center;
  margin: 0 auto;
}
.contact .header-p {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
  color: #f7f7f7;
  margin-bottom: 1.5rem;
  letter-spacing: 0.3rem;
}
.contact .header-h2 {
  color: #f7f7f7;
  font-weight: bold;
  margin-bottom: 1.5rem;
}
.contact {
  /* FORM */
}
.contact .contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0.6rem;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

/* ===== FOOTER ===== */
footer {
  background-color: rgba(37, 43, 70, 0.9490196078);
  padding: 2.5rem 1.2rem;
  text-align: center;
}
footer .logo-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 2rem;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

/* _components.scss */
/* ===== NAVBAR MÒBIL ===== */
.nav-menu {
  display: none;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(37, 43, 70, 0.9490196078);
  opacity: 0.9;
  z-index: 999;
  align-items: center;
  padding: 4rem;
}

.menu-btn {
  display: block;
  position: absolute;
  top: 1.5rem;
  right: 1.2rem;
  z-index: 1000;
  border: none;
  background: none;
  cursor: pointer;
}

.close-btn {
  display: none;
  position: absolute;
  top: 1.5rem;
  right: 1.2rem;
  z-index: 1000;
  border: none;
  background: none;
  cursor: pointer;
}

.navbar.menu-open .menu-btn {
  display: none;
}
.navbar.menu-open .close-btn {
  display: block;
  padding-right: 1rem;
}
.navbar.menu-open .logo-svg {
  position: relative;
  z-index: 1001;
}
.navbar.menu-open .logo-svg .logo-letters,
.navbar.menu-open .logo-svg circle {
  fill: #f7f7f7;
}
.navbar.menu-open .logo-svg .inner-bookmark {
  fill: rgba(37, 43, 70, 0.9490196078);
  opacity: 0.9;
}
.navbar.menu-open .nav-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8rem;
}
.navbar.menu-open .nav-menu #features {
  border-top: 1px solid #f7f7f7;
  border-bottom: 1px solid #f7f7f7;
}
.navbar.menu-open .nav-menu #pricing,
.navbar.menu-open .nav-menu #contact {
  border-bottom: 1px solid #f7f7f7;
}
.navbar.menu-open .nav-menu li {
  width: 95%;
  text-align: center;
  padding: 1.5rem 1.2rem;
  list-style: none;
}
.navbar.menu-open .nav-menu li a {
  color: #f7f7f7;
  font-size: 1.1rem;
  font-weight: normal;
  letter-spacing: 0.2rem;
  text-decoration: none;
}
.navbar.menu-open .nav-menu li .login-btn {
  width: 90%;
  padding: 15px 0;
  border-radius: 5px;
  border: 3px solid #f7f7f7;
  font-weight: bold;
  background: transparent;
  color: #f7f7f7;
  font-size: 1rem;
  letter-spacing: 0.2rem;
  margin-top: 1rem;
}
.navbar.menu-open .nav-menu li .social-media-h {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  padding-top: 2rem;
  justify-content: center;
}
.navbar.menu-open .nav-menu li .social-media-h a {
  display: flex;
  width: 2.5rem;
  height: 2.5rem;
  align-items: center;
  justify-content: center;
}
.navbar.menu-open .nav-menu li .social-media-h a img {
  max-width: 100%;
}

body.no-scroll {
  overflow: hidden;
  height: 100vh;
}

/* ===== HERO components ===== */
/* Hero image individual */
.hero-images img {
  max-width: 100%;
  height: auto;
  z-index: 1;
}

/* Forma de fons del hero */
.hero-bg-shape {
  position: absolute;
  bottom: 5%;
  right: -20%;
  width: 75%;
  height: 60%;
  aspect-ratio: 2/1;
  background: #4d5ae4;
  border-radius: 300px 0 0 300px;
  z-index: -1;
}

/* Contenidor text + botons del hero */
.hero-txt-btn {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 1.5rem;
  /* Text dins del hero */
}
.hero-txt-btn .hero-text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
  line-height: 1.5;
}
.hero-txt-btn .hero-text.h1 {
  line-height: 1.5;
}
.hero-txt-btn {
  /* botons dins del hero*/
}
.hero-txt-btn .hero-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1.5rem;
}
.hero-txt-btn .hero-buttons button {
  /* Botons reutilitzables amb mixin */
}
.hero-txt-btn .hero-buttons button.chrome-btn {
  background-color: #4d5ae4;
  padding: 1rem 2rem;
  border: 3px solid #4d5ae4;
  color: #f7f7f7;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 5px 15px rgba(69, 68, 68, 0.3);
  text-decoration: none;
  box-shadow: 0px 5px 15px rgba(69, 68, 68, 0.3);
}
.hero-txt-btn .hero-buttons button.firefox-btn {
  background-color: #f7f7f7;
  padding: 1rem 2rem;
  border: 3px solid #f7f7f7;
  color: #454444;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 5px 15px rgba(69, 68, 68, 0.3);
  text-decoration: none;
  box-shadow: 0px 5px 15px rgba(69, 68, 68, 0.3);
}

/* ===== FEATURES components =====*/
/* text d la secció */
.features-text {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  gap: 1.5rem;
  line-height: 1.5;
}

/* divs de cada tab x fer border fix */
.tabs li {
  border-bottom: 1px solid #cfcfcf;
  list-style: none;
}
.tabs li:first-child {
  border-top: 1px solid #cfcfcf;
}
.tabs li {
  /* botons tab */
}
.tabs li .tab {
  background: none;
  border: none;
  padding: 1.25rem;
  cursor: pointer;
  font-size: 1.1rem;
}
.tabs li .tab.active {
  border-bottom: 3px solid #ff6565;
}

/* text d cada tab */
.tab-content {
  display: none;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.tab-content.active {
  display: flex;
}

/* container d img d cada tab */
.tab-imgs {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  position: relative;
  margin-bottom: 3rem;
}
.tab-imgs .tab-imgs img {
  margin-bottom: 1.5rem;
  max-width: 80%;
  height: auto;
  position: relative;
  z-index: 1;
}
.tab-imgs {
  /* blob left margin */
}
.tab-imgs .features-bg-shape {
  position: absolute;
  bottom: -5%;
  left: -20%;
  width: 90%;
  height: 60%;
  background: #4d5ae4;
  border-radius: 0 300px 300px 0;
  z-index: -1;
}

/* txt dins del tab */
.txt-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 1.8rem;
  line-height: 1.5;
}

.info-btn {
  background-color: #4d5ae4;
  padding: 1rem 2rem;
  border: 3px solid #4d5ae4;
  color: #f7f7f7;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 5px 15px rgba(69, 68, 68, 0.3);
  text-decoration: none;
  margin: 2rem 0;
}

/* ===== DOWNLOAD components ===== */
/* Card genèrica */
.card-chrome,
.card-firefox,
.card-opera {
  background-color: #f7f7f7;
  padding: 1.25rem;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(69, 68, 68, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-align: center;
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  flex-wrap: wrap;
  margin: 0 auto;
}

.cards img.logo {
  margin-bottom: 1.5rem;
}

.card-chrome h3,
.card-firefox h3,
.card-opera h3 {
  margin-bottom: 0.3rem;
}

.card-chrome p,
.card-firefox p,
.card-opera p {
  margin-bottom: 1.8rem;
  color: #959895;
}

/* Botó de la card */
.cardbutton {
  background-color: #4d5ae4;
  padding: 0.75rem 1.25rem;
  border: 3px solid #4d5ae4;
  color: #f7f7f7;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 5px 15px rgba(69, 68, 68, 0.3);
  text-decoration: none;
  display: flex;
  flex-direction: row;
  gap: 0.6rem;
  margin-top: 1.25rem;
  text-decoration: none;
}

/* ===== FAQ Components ===== */
/* Títols i text */
.faq h2 {
  margin-bottom: 1.5rem;
}

.faq h5 {
  font-weight: bold;
}

.questions p {
  margin-bottom: 1rem;
  line-height: 1.5;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

/* Pregunta individual */
.question {
  list-style-type: none;
  /* Capçalera de cada pregunta (h3 + arrow) */
}
.question .question-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem 0;
  cursor: pointer;
  width: 100%;
  border: none;
  border-bottom: 1px solid #cfcfcf;
}
.question {
  /*
      .question-header button {
          background: $color-white;
      }

      .question h5 {
          flex: 1; 
          text-align: left;
          margin-right: 0.6rem;
          overflow-wrap: anywhere;
      }

      /* Fletxa animada */
}
.question .arrow {
  width: 20px;
  transition: transform 0.3s ease;
  color: #4d5ae4;
}
.question .answer {
  display: none;
  text-align: left;
  margin-top: 1rem;
  color: #454444;
  line-height: 1.5rem;
}

.question.active .answer {
  display: block;
  margin-bottom: 1.25rem;
}

.question.active .question-header {
  border: none;
}

.question-header.active .arrow path {
  stroke: currentColor;
  transform: rotate(180deg);
}

/* Botó FAQ reutilitzable amb mixin */
.faq-button {
  background-color: #4d5ae4;
  padding: 1rem 2rem;
  border: 3px solid #4d5ae4;
  color: #f7f7f7;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 5px 15px rgba(69, 68, 68, 0.3);
  text-decoration: none;
  gap: 0.6rem;
  margin-top: 1.25rem;
  text-decoration: none;
}

/* ===== CONTACT components ===== */
/* INPUT NORMAL */
.contact-form input {
  width: 100%;
  padding: 0.9rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}

/* BUTTON */
.contact-form button {
  background-color: #ff6565;
  padding: 1rem 1rem;
  border: 3px solid #ff6565;
  color: #f7f7f7;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 5px 15px rgba(69, 68, 68, 0.3);
  text-decoration: none;
  width: 100%;
}

/* ERROR CONTAINER */
.email-error-container {
  position: relative;
  padding: 0 0 1.5rem 0;
  border-radius: 5px;
  width: 100%;
}
.email-error-container input {
  width: 99%;
  height: 99%;
  padding: 0 0.9rem;
  margin-top: 0.2rem;
  border: none;
  border-radius: 5px;
}
.email-error-container {
  /* ICONA */
}
.email-error-container img {
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 1.25rem;
  display: none;
}

/* ESTATS DE L’ERROR */
.email-error-container.error {
  background: #ff6565;
}
.email-error-container.error img {
  display: block;
}

/* MISSATGE D’ERROR */
.email-error {
  display: none;
  position: absolute;
  bottom: 0.3rem;
  left: 0.6rem;
  color: #f7f7f7;
  font-size: 0.7rem;
  font-style: italic;
}

.email-error.error {
  display: block;
}

/* ===== FOOTER components ===== */
/* Logo invertit */
.footer-logo svg.logo-invert path {
  fill: white;
  stroke: none;
}

/* Links del menú */
.footer-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  list-style: none;
  gap: 1rem;
  margin: 1rem 0;
}
.footer-links a {
  color: white;
  text-decoration: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
}
.footer-links a:hover {
  opacity: 0.7;
}
.footer-links {
  /* Xarxes socials */
}
.footer-links .social-media {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1.25rem 0;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
}

/*===== DESKTOP ======*/
@media (min-width: 1024px) {
  body {
    overflow-x: hidden;
    font-family: Verdana, sans-serif;
  }
  html {
    font-size: 18px;
  }
  p {
    font-size: 1rem;
    line-height: 1.5;
  }
  button, a {
    font-size: 1.063rem;
  }
  /* ===== HEADER / NAVBAR ===== */
  .navbar-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 8rem;
    gap: 2rem;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
  }
  .navbar-main .nav-links-desktop {
    display: flex;
    gap: 2.5rem;
    align-items: center;
  }
  .navbar-main .nav-links-desktop a {
    text-decoration: none;
    color: #171616;
    letter-spacing: 0.2rem;
  }
  .navbar-main .nav-links-desktop a:hover {
    color: #ff6565;
  }
  .navbar-main .nav-links-desktop .login-btn {
    width: auto;
    border: 1px solid #ff6565;
    border-radius: 5px;
    font-weight: bold;
    background: #ff6565;
    color: #f7f7f7;
    font-size: 1.125rem;
    letter-spacing: 0.2rem;
    padding: 0.8rem 2rem;
    box-shadow: 0px 5px 15px rgba(69, 68, 68, 0.3);
  }
  .navbar-main .nav-links-desktop .login-btn:hover {
    background: #f7f7f7;
    color: #ff6565;
  }
  .navbar-main .navbar-menu, .navbar-main .menu-btn {
    display: none;
  }
  /* ===== HERO ===== */
  .hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 8rem;
    gap: 2rem;
    width: 100%;
    margin: 0 auto;
    flex-direction: row-reverse;
    gap: 4rem;
  }
  .hero .hero-images {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex: 1;
  }
  .hero .hero-images img {
    max-width: 100%;
    height: auto;
    z-index: 1;
  }
  .hero .hero-images .hero-bg-shape {
    position: absolute;
    bottom: 8%;
    right: -30%;
    width: 95%;
    height: 60%;
    background: #4d5ae4;
    border-radius: 400px 0 0 400px;
    z-index: -1;
  }
  .hero .hero-txt-btn {
    flex: 1;
    text-align: left;
    align-items: flex-start;
  }
  .hero .hero-txt-btn .hero-text {
    width: 90%;
  }
  .hero .hero-buttons button {
    cursor: pointer;
  }
  .hero .chrome-btn:hover {
    background: #f7f7f7;
    border: 3px solid rgb(50.5170731707, 65.4512195122, 223.9829268293);
    color: #4d5ae4;
  }
  .hero .firefox-btn:hover {
    border: 3px solid rgba(37, 43, 70, 0.9490196078);
  }
  /* ===== FEATURES ===== */
  .features {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 8rem;
    gap: 2rem;
    width: 100%;
    margin: 0 auto;
    gap: 4rem;
  }
  .features .features-text {
    margin: 0 auto;
  }
  .features .tab-imgs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex: 1;
    justify-content: flex-end;
  }
  .features .tab-imgs img {
    flex: 1;
  }
  .features .tab-imgs .features-bg-shape {
    position: absolute;
    bottom: -10%;
    left: -50%;
    width: 125%;
    height: 80%;
    background: #4d5ae4;
    border-radius: 0 400px 400px 0;
    z-index: -1;
  }
  .features .tabs {
    flex-direction: row;
  }
  .features .tab-content {
    flex-direction: row;
    gap: 4rem;
    justify-content: space-evenly;
    margin: 0 auto;
  }
  .features .txt-btn {
    flex: 1;
    width: 40%;
    text-align: left;
    flex-direction: column;
  }
  .features .info-btn {
    border: 3px solid #4d5ae4;
    cursor: pointer;
  }
  .features .info-btn:hover {
    border: 3px solid #4d5ae4;
    background: #f7f7f7;
    color: #4d5ae4;
  }
  /* ===== DOWNLOAD CARDS ===== */
  .download {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 8rem;
    gap: 2rem;
    width: 100%;
    margin: 0 auto;
    gap: 4rem;
  }
  .download .download-txt {
    width: 60%;
  }
  .download .cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 0.6rem;
  }
  .download .card-firefox {
    margin-top: 4rem;
  }
  .download .card-opera {
    margin-top: 8rem;
  }
  .download .cardbutton {
    cursor: pointer;
  }
  .download .cardbutton:hover {
    border: 3px solid #4d5ae4;
    background: #f7f7f7;
    color: #4d5ae4;
  }
  /* ===== FAQ ===== */
  .faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 8rem;
    gap: 2rem;
    width: 100%;
    margin: 0 auto;
    align-items: center;
  }
  .faq .questions {
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
  }
  .faq .faq-button {
    background-color: #4d5ae4;
    padding: 1rem 2rem;
    border: 3px solid #4d5ae4;
    color: #f7f7f7;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 5px 15px rgba(69, 68, 68, 0.3);
    text-decoration: none;
  }
  .faq .faq-button:hover {
    border: 3px solid #4d5ae4;
    background: #f7f7f7;
    color: #4d5ae4;
  }
  /* ===== CONTACT ===== */
  .contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 8rem;
    gap: 2rem;
    width: 100%;
    margin: 0 auto;
    flex-direction: row;
    justify-content: center;
    gap: 4rem;
  }
  .contact .contact-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-direction: row;
    gap: 0.6rem;
    max-width: 500px;
  }
  .contact .contact-form input {
    flex: 2;
  }
  .contact .contact-form button {
    flex: 1;
    height: auto;
    border: 2px solid #ff6565;
    cursor: pointer;
  }
  .contact .contact-form button:hover {
    background: #f7f7f7;
    color: #ff6565;
    border: 2px solid #ff6565;
  }
  /* ===== FOOTER ===== */
  footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 8rem;
    gap: 2rem;
    width: 100%;
    margin: 0 auto;
    padding: 1rem 8rem;
  }
  footer .logo-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-direction: row;
    gap: 4rem;
    max-width: 900px;
    margin: 0 auto;
  }
  footer .footer-links {
    flex-direction: row;
  }
  footer .footer-links a:hover {
    color: #ff6565;
  }
  footer .social-media {
    margin-left: auto;
  }
  footer .social-media path:hover {
    fill: #ff6565;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, sans-serif;
  background: #f7f7f7;
  overflow-x: hidden;
}

/*# sourceMappingURL=style.css.map */
