:root {
    font-family: Verdana;
    color: black;
    width: 576px; /* Ancho del contenido para MÓVILES*/
}


body {
    margin: 0 auto;
    padding: 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

p {
    color: #959895;
}

header {
    background-color: white;
    padding: 30px 30px;
}

.navbar {
    display: flex;
}

.navbar > img {
    margin-right: auto;
}

.menu-button {
    margin-left: auto;
    border: none;
    background-color: #ffffff;
}
