/*  Reset  */

* { /* el selector de tot */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*  Global styles */

:root {
    font-family: Verdana, sans-serif;
    color: black;
}

body {
    background-color: #ffffff;
    line-height: 1.5;
}

p {
    color: #959895;
}

/* header i navbar */

header {
    background-color: #ffffff;
    padding: 20px; /* ok per mobils */
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo {
    height: 30px;
}

.menu-button {
    border: none;
    background-color: #ffffff;
    cursor: pointer;
}

/* hero */

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px 20px;
    margin-bottom: 100px;
}

.hero-image {
    margin-bottom: 30px;
    width: 100%;
}

.hero-text h1 {
    margin-bottom: 20px;
}

.hero-text p {
    margin-bottom: 20px;
    padding: 0 20px;
    line-height: 1.5;
}

.hero-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.hero-buttons a {
    text-decoration: none;
    padding: 15px 25px;
    border-radius: 5px;
    font-weight: bold;
}

.chrome-btn {
    background-color: #2c3be0;
    color: white;
    box-shadow: 0px 5px 15px #6564644d;
}

.firefox-btn {
    background-color: #f7f7f7;
    color: #454444;
    box-shadow: 0px 5px 15px #6564644d;
}

/* FEATURES SECTION */

.features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 40 20px;
}

.features h2 {
    margin-bottom: 20px;
}

.features p {
    margin-bottom: 20px;
    line-height: 1.5;
}

.tabs {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.tab button {
    font-size: 1rem;
    color: #454444;

}

.tabs div {
    border-bottom: 1px solid #7a7777;
}

.tabs .btn-line {
    margin: 0 40px;

}
.tabs .btn-line:first-child {
    border-top: 1px solid #7a7777;
}

.tab {
    background: none;
    border: none;
    padding: 20px;
    font-size: 1rem;
    cursor: pointer;
}

.tab.active {
    border-bottom: 3px solid #a62121;
}

.tab-content {
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.tab-content.active {
    display: flex;
}

.tab-content img {
    width: 100%;
    max-width: 300px;
    margin: 20px 0;
}

.tab-content h3 {
    margin-bottom: 10px;
}

.tab-content p {
    padding: 0 20px;
    line-height: 1.5rem;
}

/* Download section */

.download { /* afecta la seccio download sencera */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px 20px;
}

.download h2 {
    margin-bottom: 10px;
}

.download p {   
    margin-bottom: 30px;
    line-height: 1.5;
}

.cards { /*hem de tornar a indicar flex perque per defecte els divs son display block*/
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
    gap: 20px;
    width: 100%;
}

.card-chrome, .card-firefox, .card-opera {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px #6564644d;
    display: flex; /* ho hem de tornar a posar perque per defecte els divs son display block*/
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 300px;
}

.cards img.logo {  /* nova classe per les imatges dels logos */
    margin-bottom: 25px;
}

.card-chrome h3, .card-firefox h3, .card-opera h3 {
    margin-bottom: 1px;
}

.card-chrome p, .card-firefox p, .card-opera p {
    margin-bottom: 30px;
    color: #959895;
}

.cardbutton {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 20px;
    text-decoration: none;
    background-color: #5368df;
    color: white;
    padding: 12px 20px;
    border-radius: 5px;
    font-weight: normal;
    box-shadow: 0px 5px 15px #6564644d;
}

/* FAQ section */

.faq {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 30px;
    margin-bottom: 100px;
}

.faq h2 {
    margin-bottom: 30px;
}

.faq h3 {
    font-size: 0.9rem;
    font-weight: normal;
}

.faq p {   
    margin-bottom: 70px;
    line-height: 30px;
}

.questions { /* contenedor de las preguntas */
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    text-align: left;
}
.question {
    list-style-type: none;
}

.question h3:hover {
    color: #2c3be0;
}

/* botó h3+arrow per a cada pregunta */
.question-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
    border-bottom: 1px solid #7a7777;
    cursor: pointer;
}

.question h3 {
    flex: 1; /* perque el text ocupi tot l'espai possible */
    text-align: left;
    margin-right: 10px; /* perque no estigui enganxat a la fletxa */
    overflow-wrap: anywhere; /* perque el text es trenqui si es massa llarg */
}

.arrow { 
/* classe per girar la fletxa quan la resposta esta oberta */
    width: 20px;
    transition: transform 0.3s ease; /* animacio suau al girar la fletxa. Params: propietat, durada, tipus d'animacio */
    color: #5267DF;
}

.answer { /* classe per la resposta de cada pregunta */
    display: none;
    text-align: left;
    margin-top: 15px;
    color: #7a7777;
    line-height: 1.5;
}

.question.active .answer{ /* quan la pregunta esta activa, mostra la resposta */
    display: block;
    margin-bottom: 20px;
}

.question.active .question-header { /* per amagar barra */
    border: none;
}

.question-header.active .arrow path { /* quan la pregunta esta activa, gira la fletxa cap avall */
    stroke: currentColor; 
    transform: rotate(180deg);
}

.faq-button {
    margin-top: 35px;
    background-color: #5368df;
    color: white;
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    font-weight: normal;
    box-shadow: 0px 5px 15px #6564644d;
    cursor: pointer;
    text-decoration: none;
}

/* contact section */
.contact {
    background-color: #5368df;
    padding: 100px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto; /* per que el background toqui per tots dos costats*/
}

.contact .header-p {
    font-weight: normal;
    text-transform: uppercase;
    color: white;
    margin-bottom: 30px;
    letter-spacing: 5px;
}

.contact .header-h2 {
    color: white;
    margin-bottom: 30px;
    font-weight: bold;
}

/* FORM en columna*/

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

/* Input + botó en columna */
.contact-form input {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
}

.contact-form button {
    background-color: #ff6565;
    color: #ffffff;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

/* error message */

.email-error {
    color: white;
    font-size: 0.8em;
    font-style: italic;
    text-align: left;
    align-self: left;
}

/* footer */
footer {
    background-color: #303869;
    padding: 50px 30px;
    text-align: center;
}

footer .logo-invert path {
    stroke: white; 
    fill: white;
}

.footer-links {
    list-style-type: none;
    margin: 20px 0;
}


.footer-links a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
}





