@charset "UTF-8";
/* =====header i navbar===== */
header {
  width: 100%;
}

.navbar {
  width: 100%;
  margin: 0 auto;
  padding: 2.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

/* ===== HERO general ===== */
.hero {
  width: 100%;
  margin: 0 auto;
  padding: 2.5rem;
  margin-bottom: 5rem;
  /* Contenidor d’imatges dins del hero */
}
.hero .hero-images {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
  position: relative;
}
.hero {
  /* Contenidor de text + botons */
}
.hero .hero-txt-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.8rem;
}

/* =====FEATURES=====*/
.features {
  width: 100%;
  margin: 0 auto;
  padding: 2.5rem;
}
.features .tabs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2.5rem;
}
.features .tabs-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ===== DOWNLOAD CARDS ===== */
.download {
  width: 100%;
  margin: 0 auto;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  margin-bottom: 6rem;
}
.download .download-txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.8rem;
}
.download .cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.8rem;
}

/* ===== FAQ ===== */
.faq {
  width: 100%;
  margin: 0 auto;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 6rem;
  width: 100%;
}
.faq .questions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  margin: 0 auto;
  width: 100%;
}

/* ===== CONTACT ===== */
.contact {
  background: #4d5ae4;
  padding: 6rem 1.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact .header-contact {
  margin: 0 auto;
  text-align: center;
}
.contact {
  /* FORM */
}
.contact .contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}
.contact .email-error-container {
  width: 100%;
  position: relative;
}

/* ===== FOOTER ===== */
footer {
  background-color: rgba(37, 43, 70, 0.9490196078);
  padding: 2.5rem;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

/* _components.scss */
/* ===== TYPOGRAPHY RESPONSIVE ===== */
h1 {
  font-size: clamp(2rem, 5vw, 3rem);
  line-height: 1.2;
}

h2 {
  font-size: clamp(1.75rem, 4.5vw, 2.5rem);
  line-height: 1.25;
}

h3 {
  font-size: clamp(1.5rem, 4vw, 2rem);
  line-height: 1.3;
}

h4 {
  font-size: clamp(1.25rem, 3.5vw, 1.75rem);
  line-height: 1.35;
}

h5 {
  font-size: clamp(1.1rem, 3vw, 1.5rem);
  line-height: 1.4;
}

p {
  font-size: clamp(0.9rem, 2vw, 1.1rem);
  line-height: 1.6;
}

/* ===== NAVBAR MÒBIL ===== */
.nav-menu {
  align-items: center;
  justify-content: center;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(37, 43, 70, 0.9490196078);
  opacity: 0.9;
  z-index: 999;
  padding: 4rem;
}

.menu-btn,
.close-btn {
  position: absolute;
  top: 3.2rem;
  z-index: 1000;
  border: none;
  background: none;
  cursor: pointer;
}

.menu-btn {
  right: 3rem;
}

.close-btn {
  display: none;
  right: 3.85rem;
}

.navbar.menu-open .menu-btn {
  display: none;
}
.navbar.menu-open .close-btn {
  display: block;
}
.navbar.menu-open .logo-svg {
  position: relative;
  z-index: 1001;
}
.navbar.menu-open .logo-svg .logo-letters,
.navbar.menu-open .logo-svg circle {
  fill: #f7f7f7;
}
.navbar.menu-open .logo-svg .inner-bookmark {
  fill: rgba(37, 43, 70, 0.9490196078);
  opacity: 0.9;
}
.navbar.menu-open .nav-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
}
.navbar.menu-open .nav-menu #features {
  border-top: 1px solid #f7f7f7;
  border-bottom: 1px solid #f7f7f7;
}
.navbar.menu-open .nav-menu #pricing,
.navbar.menu-open .nav-menu #contact {
  border-bottom: 1px solid #f7f7f7;
}
.navbar.menu-open .nav-menu li {
  width: 95%;
  text-align: center;
  padding: 1.8rem;
  list-style: none;
}
.navbar.menu-open .nav-menu li a {
  color: #f7f7f7;
  font-size: clamp(1.1rem, 3vw, 1.5rem);
  font-weight: normal;
  letter-spacing: 0.2rem;
  text-decoration: none;
}
.navbar.menu-open .nav-menu li .login-btn {
  width: 90%;
  padding: 0.938rem 0;
  border-radius: 5px;
  border: 3px solid #f7f7f7;
  font-weight: bold;
  background: transparent;
  color: #f7f7f7;
  font-size: clamp(0.9rem, 2vw, 1.1rem);
  letter-spacing: 0.2rem;
  margin-top: 1rem;
}
.navbar.menu-open .nav-menu li .social-media-h {
  display: flex;
  flex-direction: row;
  gap: 1.8rem;
  padding-top: 2rem;
  justify-content: center;
}
.navbar.menu-open .nav-menu li .social-media-h a {
  display: flex;
  width: 2.5rem;
  height: 2.5rem;
  align-items: center;
  justify-content: center;
}
.navbar.menu-open .nav-menu li .social-media-h a img {
  max-width: 100%;
}

body.no-scroll {
  overflow: hidden;
  height: 100vh;
}

/* ===== HERO components ===== */
/* Hero image individual */
.hero-images img {
  max-width: 800px;
  width: 110%;
  align-self: center;
  height: auto;
  z-index: 1;
}

/* Forma de fons del hero */
.hero-bg-shape {
  position: absolute;
  bottom: -1rem;
  right: -4rem;
  width: 95%;
  height: clamp(180px, 20vw, 260px);
  background-color: #4d5ae4;
  border-radius: 300px 0 0 300px;
  z-index: -1;
}
@media (min-width: 768px) {
  .hero-bg-shape {
    width: 75%;
    height: clamp(240px, 25vw, 320px);
    border-radius: 400px 0 0 400px;
  }
}

/* Contenidor text + botons del hero */
.hero-txt-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1.8rem;
}
.hero-txt-btn p {
  line-height: 1.6;
}

/* botons dins del hero*/
.hero-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.8rem;
}
.hero-buttons button {
  /* Botons reutilitzables amb mixin */
}
.hero-buttons button.chrome-btn {
  background-color: #4d5ae4;
  padding: 1rem 2rem;
  border: 3px solid #4d5ae4;
  color: #f7f7f7;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 5px 15px rgba(69, 68, 68, 0.3);
  text-decoration: none;
  box-shadow: 0px 5px 15px rgba(69, 68, 68, 0.3);
}
.hero-buttons button.firefox-btn {
  background-color: #f7f7f7;
  padding: 1rem 2rem;
  border: 3px solid #f7f7f7;
  color: #454444;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 5px 15px rgba(69, 68, 68, 0.3);
  text-decoration: none;
  box-shadow: 0px 5px 15px rgba(69, 68, 68, 0.3);
}

/* ===== FEATURES components =====*/
/* text d la secció */
.features-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2.5rem;
  gap: 1.8rem;
  line-height: 1.6;
  text-align: center;
}

/* divs de cada tab x fer border fix */
.tabs li {
  border-bottom: 1px solid #cfcfcf;
  list-style: none;
  width: 100%;
  text-align: center;
}
.tabs li:first-child {
  border-top: 1px solid #cfcfcf;
}
.tabs {
  /* botons tab */
}
.tabs .tab {
  background: none;
  border: none;
  padding: 1.25rem;
  cursor: pointer;
  font-size: clamp(1.1rem, 3vw, 1.5rem);
}
.tabs .tab.active {
  border-bottom: 3px solid #ff6565;
}

/* text d cada tab */
.tab-content {
  display: none;
  flex-direction: column;
  text-align: center;
}
.tab-content.active {
  display: flex;
}

/* container d img d cada tab */
.tab-imgs {
  position: relative;
  margin-bottom: 2rem;
}
.tab-imgs img {
  max-width: 80%;
  height: auto;
  z-index: 1;
}
.tab-imgs .features-bg-shape {
  position: absolute;
  bottom: -10px;
  left: -10%;
  width: 300px;
  height: 120px;
  background: #4d5ae4;
  border-radius: 0 300px 300px 0;
  z-index: -1;
}

/* txt dins del tab */
.text-btn {
  margin-bottom: 1.8rem;
  line-height: 1.6;
}
.text-btn h3 {
  margin-bottom: 1rem;
}

.info-btn {
  background-color: #4d5ae4;
  padding: 1rem 2rem;
  border: 3px solid #4d5ae4;
  color: #f7f7f7;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 5px 15px rgba(69, 68, 68, 0.3);
  text-decoration: none;
  margin: 2rem 0;
}

/* ===== DOWNLOAD components ===== */
.download-txt {
  text-align: center;
  line-height: 1.6;
}

/* Card genèrica */
.card-chrome,
.card-firefox,
.card-opera {
  background-color: #f7f7f7;
  padding: 1.25rem 0.8rem;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(69, 68, 68, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.cards img.logo {
  margin-bottom: 1.5rem;
}

.card-chrome h3,
.card-firefox h3,
.card-opera h3 {
  margin-bottom: 0.3rem;
}

.card-chrome p,
.card-firefox p,
.card-opera p {
  margin-bottom: 1.8rem;
  color: #959895;
}

/* Botó de la card */
.cardbutton {
  background-color: #4d5ae4;
  padding: 1.25rem 0.8rem;
  border: 3px solid #4d5ae4;
  color: #f7f7f7;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 5px 15px rgba(69, 68, 68, 0.3);
  text-decoration: none;
  display: flex;
  flex-direction: row;
  gap: 0.6rem;
  margin-top: 1rem;
  text-decoration: none;
}

/* ===== FAQ Components ===== */
.faq-txt {
  text-align: center;
  line-height: 1.6;
  margin-bottom: 2.5rem;
}

/* Títols i text */
.faq h2 {
  margin-bottom: 1.8rem;
}

.faq h5 {
  font-weight: normal;
}

.questions p {
  margin-bottom: 1rem;
  line-height: 1.6;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

/* Pregunta individual */
.question {
  list-style-type: none;
  width: 100%;
  /* Capçalera de cada pregunta (h3 + arrow) */
}
.question .question-header {
  display: flex;
  background: none;
  align-items: center;
  justify-content: space-between;
  font-size: clamp(0.9rem, 2vw, 1.1rem);
  padding: 1.25rem 0;
  cursor: pointer;
  border: none;
  border-bottom: 1px solid #cfcfcf;
  width: 100%;
}
.question {
  /* Fletxa animada */
}
.question .arrow {
  width: 20px;
  transition: transform 0.3s ease;
  color: #4d5ae4;
}
.question .answer {
  display: none;
  text-align: left;
  margin-top: 1rem;
  color: #949494;
  line-height: 1.6;
}

.question.active .answer {
  display: block;
  margin-bottom: 1.25rem;
}
.question.active .question-header {
  border: none;
}
.question.active .question-header.active .arrow path {
  stroke: currentColor;
  transform: rotate(180deg);
}

/* Botó FAQ reutilitzable amb mixin */
.faq-button {
  background-color: #4d5ae4;
  padding: 1rem 2rem;
  border: 3px solid #4d5ae4;
  color: #f7f7f7;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 5px 15px rgba(69, 68, 68, 0.3);
  text-decoration: none;
  margin-top: 2rem;
  text-decoration: none;
}

/* ===== CONTACT components ===== */
.header-contact p {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  text-transform: uppercase;
  color: #f7f7f7;
  margin-bottom: 1.8rem;
  letter-spacing: 0.3rem;
}
.header-contact h2 {
  color: #f7f7f7;
  font-weight: bold;
  margin-bottom: 1.8rem;
}

/* INPUT NORMAL */
.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
}
.contact-form input {
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 5px;
  font-size: clamp(0.9rem, 2vw, 1.1rem);
}
.contact-form button {
  background-color: #ff6565;
  padding: 1rem 1rem;
  border: 3px solid #ff6565;
  color: #f7f7f7;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 5px 15px rgba(69, 68, 68, 0.3);
  text-decoration: none;
  width: 100%;
}

.email-error-container {
  position: relative;
  padding: 0 0.1rem 1.5rem 0.1rem;
  border-radius: 5px;
  width: 100%;
}
.email-error-container img {
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 1.25rem;
  display: none;
}
.email-error-container.error {
  background: #ff6565;
}
.email-error-container.error img {
  display: block;
}

/* MISSATGE D’ERROR */
.email-error {
  display: none;
  position: absolute;
  bottom: 0.3rem;
  left: 0.6rem;
  color: #f7f7f7;
  font-size: 0.7rem;
  font-style: italic;
}

.error {
  display: block;
}

/* ===== FOOTER components ===== */
/* Logo invertit */
.footer-logo svg.logo-invert path {
  fill: white;
  stroke: none;
}

/* Links del menú */
.footer-links ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 1rem 0;
  list-style-type: none;
  gap: 1.8rem;
}
.footer-links ul a {
  color: white;
  text-decoration: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
}

/* Xarxes socials */
.social-media {
  align-items: center;
}
.social-media ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1.25rem 0;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  gap: 1.8rem;
  list-style-type: none;
}

/*===== DESKTOP ======*/
@media (min-width: 1024px) {
  body {
    overflow-x: hidden;
    font-family: Verdana, sans-serif;
  }
  button, a {
    font-size: clamp(0.9rem, 2vw, 1.1rem);
  }
  /* ===== HEADER / NAVBAR ===== */
  .navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2rem 8rem;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .navbar .nav-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    position: static;
    height: auto;
    width: auto;
    background: none;
    gap: 1.8rem;
  }
  .navbar .nav-menu li {
    list-style-type: none;
  }
  .navbar .nav-menu a {
    text-decoration: none;
    color: #171616;
    letter-spacing: 0.2rem;
    font-size: 0.85rem;
  }
  .navbar .nav-menu a:hover {
    color: #ff6565;
  }
  .navbar .nav-menu .social-media-h {
    display: none;
  }
  .navbar .nav-menu .login-btn {
    width: auto;
    border: 1px solid #ff6565;
    border-radius: 5px;
    font-weight: bold;
    background: #ff6565;
    color: #f7f7f7;
    font-size: 0.85rem;
    letter-spacing: 0.2rem;
    padding: 0.8rem 1.5rem;
    box-shadow: 0px 5px 15px rgba(69, 68, 68, 0.3);
  }
  .navbar .nav-menu .login-btn:hover {
    cursor: pointer;
    background: #f7f7f7;
    color: #ff6565;
  }
  .navbar .menu-btn, .navbar .close-btn {
    display: none;
  }
  /* ===== HERO ===== */
  .hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2rem 8rem;
    margin: 0 auto;
    flex-direction: row-reverse;
    gap: 4rem;
    align-items: flex-start;
  }
  .hero .hero-images {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 1;
  }
  .hero .hero-images img {
    max-width: 800px;
    width: 130%;
    height: auto;
    z-index: 1;
  }
  .hero .hero-txt-btn {
    flex: 1;
    text-align: left;
    align-items: flex-start;
  }
  .hero .hero-txt-btn .hero-text {
    width: 90%;
  }
  .hero .hero-txt-btn .hero-buttons button {
    padding: 0.7rem 0.7rem;
    cursor: pointer;
    line-height: 1.6;
  }
  .hero .hero-txt-btn .chrome-btn:hover {
    background: #f7f7f7;
    border: 3px solid rgb(50.5170731707, 65.4512195122, 223.9829268293);
    color: #4d5ae4;
  }
  .hero .hero-txt-btn .firefox-btn:hover {
    border: 3px solid rgba(37, 43, 70, 0.9490196078);
  }
  /* ===== FEATURES ===== */
  .features {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 8rem;
    margin: 0 auto;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .features .features-text {
    margin-bottom: 2rem;
    width: 60%;
  }
  .features .tabs {
    flex-direction: row;
    width: 100%;
    justify-content: center;
  }
  .features .tabs li {
    flex: 1;
    text-align: center;
  }
  .features .tabs li :hover {
    color: #ff6565;
  }
  .features .tabs .btn-line:first-child {
    border-top: none;
  }
  .features .tab-content { /* IMPORTANT, reset del layout d mobil*/
    display: none;
    flex-direction: row;
    gap: 4rem;
    align-items: center;
    justify-content: center;
    text-align: left;
    max-width: 1100px;
    margin: 0 auto;
  }
  .features {
    /*MOSTREM EL Q TOCA*/
  }
  .features .tab-content.active {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .features .tab-imgs {
    flex: 1;
    position: relative;
    width: 100%;
    max-width: 600px;
    height: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .features .tab-imgs img {
    width: 110%;
    max-width: 600px;
    height: auto;
    object-fit: contain;
    z-index: 1;
  }
  .features .tab-imgs .features-bg-shape {
    position: absolute;
    bottom: 40px;
    transform: translateX(-30%);
    width: 500px;
    height: 200px;
    background: #4d5ae4;
    border-radius: 0 400px 400px 0;
    z-index: -1;
  }
  .features .text-btn {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    align-items: left;
  }
  .features .text-btn h3 {
    margin-bottom: 1rem;
  }
  .features .text-btn .info-btn {
    display: flex;
    width: 45%;
    height: 20%;
    justify-content: center;
    align-items: left;
  }
  .features .info-btn {
    border: 3px solid #4d5ae4;
    cursor: pointer;
  }
  .features .info-btn:hover {
    border: 3px solid #4d5ae4;
    background: #f7f7f7;
    color: #4d5ae4;
  }
  /* ===== DOWNLOAD CARDS ===== */
  .download {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 8rem;
    margin: 0 auto;
    margin-bottom: 6rem;
    text-align: center;
  }
  .download .download-txt {
    width: 60%;
    margin-bottom: 2rem;
  }
  .download .cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 0.6rem;
  }
  .download .card-firefox {
    margin-top: 4rem;
  }
  .download .card-opera {
    margin-top: 8rem;
  }
  .download .cardbutton {
    cursor: pointer;
  }
  .download .cardbutton:hover {
    border: 3px solid #4d5ae4;
    background: #f7f7f7;
    color: #4d5ae4;
  }
  /* ===== FAQ ===== */
  .faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 8rem;
    margin: 0 auto;
    align-items: center;
    margin-bottom: 6rem;
  }
  .faq .faq-txt {
    max-width: 60%;
    margin-bottom: 2rem;
  }
  .faq .questions {
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
  }
  .faq .questions .question-header {
    font-size: 1.2rem;
  }
  .faq .questions .question h5:hover {
    color: #ff6565;
  }
  .faq .faq-button {
    background-color: #4d5ae4;
    padding: 1rem 2rem;
    border: 3px solid #4d5ae4;
    color: #f7f7f7;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 5px 15px rgba(69, 68, 68, 0.3);
    text-decoration: none;
  }
  .faq .faq-button:hover {
    border: 3px solid #4d5ae4;
    background: #f7f7f7;
    color: #4d5ae4;
  }
  /* ===== CONTACT ===== */
  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 8rem;
    margin: 0 auto;
    text-align: center;
  }
  .contact p {
    font-size: 0.8rem;
  }
  .contact .contact-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    max-width: 800px;
  }
  .contact .contact-form .email-error-container {
    flex: 2;
    padding: 0.1rem 0.1rem 1.5rem 0.1rem;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .contact .contact-form input {
    flex: 1;
    height: 3rem;
  }
  .contact .contact-form button {
    display: flex;
    flex: 1;
    align-self: flex-start;
    height: 3.2rem;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .contact .contact-form button:hover {
    background: #f7f7f7;
    color: #ff6565;
    border: 2px solid #ff6565;
  }
  /* ===== FOOTER ===== */
  footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2rem 8rem;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem 8rem;
  }
  footer .logo-links {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    justify-content: center;
  }
  footer .footer-links ul {
    display: flex;
    flex-direction: row;
  }
  footer .footer-links a:hover {
    color: #ff6565;
  }
  footer .social-media {
    margin-left: auto;
  }
  footer .social-media path:hover {
    fill: #ff6565;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, sans-serif;
  background: #f7f7f7;
  overflow-x: hidden;
}

/*# sourceMappingURL=style.css.map */
