/*  Reset  */

* { /* el selector de tot */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* --------Global styles-------- */

:root {
    font-family: Verdana, sans-serif;
    color: #171616;
}

body {
    background-color: #ffffff;
    line-height: 1.5;
    overflow-x: hidden;
}

p {
    color: #959895;
}

img {
    max-width: 300px;
}

/* --------header i navbar-------- */

header {
    background-color: #ffffff;
    width: 100%;
    
}

.navbar-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 1.2rem;
}

.nav-links-desktop {
    display: none;
}

.menu-btn,
.close-btn {
    border: none;
    background: none;
    cursor: pointer;
}

/* MENU ACTIVAT FULL SCREEN */

.navbar-menu-active {
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw; /* o 100 vw, tot l'ample*/
    height: 100vh; /*tot l'alt*/

    display: none; /*hidden x defecte */
    flex-direction: column;
    background: #252b46f2;
    opacity: 90%;
    z-index: 999;
}

/*quan s'obre menu, es mostra*/
.navbar.menu-open .navbar-menu-active {
    display: flex;
    padding: 1.5rem 1.2rem;
}

/* capçalera dins d menu actiu */
.navbar-active {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 1.2rem;

}

/*menu interior desplegat */
.menu-active ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 1.2rem;
    list-style-type: none;
    font-size: 1.125rem;
    font-weight: normal;
    letter-spacing: 0.2rem;
}

.menu-active a {
    color: #ffffff;
    text-decoration: none;
}

/* divs dels items del menu*/
.nav-menu div {
    width: 100%;
    padding: 1.5rem 1.2rem;
    text-align: center;
}

.btn-line {
    border-top: 1px solid #ffffff50;
    padding-top: 1.5rem;
}

/*amagar creu x defecte*/
.close-btn {
    display: none;
}

/* si menu obert, mostrar X i amagar hamburguesa */
.menu-open .close-btn {
    display: block;
}
.menu-open .menu-btn {
    display: none;
}

/*login botó*/
.nav-menu .login-btn {
    width: 100%;
    text-decoration: none;
    padding: 15px 0;
    border-radius: 5px;
    border-color: #ffffff;
    font-weight: bold;
    background: transparent;
    color: #ffffff;
    font-size: 18px;    
    letter-spacing: 0.2rem;
    margin-top: 1rem;
}

/* ------------ hero ------------*/
.hero {
    align-items: stretch;
    text-align: center;
    padding: 1.5rem 1.2rem;
    margin-bottom: 4rem;
    width: 100%;
}

.hero-images {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 1.3rem;
}

.hero-image img {
    margin-bottom: 1.5rem;
    max-width: 100%;
    height: auto;
    z-index: 1; /* sempre davant de la forma*/
}

.hero-bg-shape {
    position: absolute;
    bottom: 5%;
    right: -5%;
    width: 75%;
    height: 60%;
    aspect-ratio: 2/1; 
    background: #4d5ae4;
    border-radius: 300px 0 0 300px;
    z-index: -1;
}

.hero-txt-btn {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 1.5rem;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
    line-height: 1.5rem;
}

.hero-buttons {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.hero-buttons button {
    text-decoration: none;
    padding: 1rem 1.5rem;
    border-radius: 5px;
    font-weight: bold;
}

.chrome-btn {
    background-color: #2c3be0;
    border: 3px solid #2c3be0;
    color: white;
    box-shadow: 0px 5px 15px #6564644d;
}

.firefox-btn {
    background-color: #f7f7f7;
    border: 3px solid #f7f7f7;
    color: #454444;
    box-shadow: 0px 5px 15px #6564644d;
}

/* --------FEATURES -------- */

.features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 1.5rem 1.2rem;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 3rem;
}

.features-text {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    gap: 1.5rem;
    line-height: 1.5rem;
}

.tabs {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

.tab-imgs {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    position: relative;
}

.tab-img img {
    margin-bottom: 1.5rem;
    max-width: 80%;
    height: auto;
    z-index: 1; /* sempre davant de la forma*/
    position: relative;
}

.features-bg-shape {
    position: absolute;
    bottom: -5%;
    left: -20%;
    width: 98%;
    height: 60%; 
    background: #4d5ae4;
    border-radius: 0 300px 300px 0;
    z-index: -1;
}

.tab button {
    font-size: 1rem;
    color: #454444;
}

.tabs div {
    border-bottom: 1px solid #7a7777;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.tabs .btn-line:first-child {
    border-top: 1px solid #7a7777;
}

.tab {
    background: none;
    border: none;
    padding: 1.25rem;
    font-size: 1rem;
    cursor: pointer;
}

.tab.active {
    border-bottom: 3px solid #a62121;
}

.tab-content {
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.tab-content.active {
    display: flex;
}

.tab-content img {
    width: 100%;
    margin: 1.25rem 0;
}

.text-tab {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    gap: 1.5rem;
    margin-bottom: 1.8rem;
    line-height: 1.5rem;
}

.info-btn {
    background: #5368df;
    color: #ffffff;
    font-weight: bold;
    border: none;
    padding: 1rem 1.5rem;
    border-radius: 5px;
    box-shadow: 0px 5px 15px #6564644d;

}

/* --------Download Cards-------- */

.download { /* afecta la seccio download sencera */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1.5rem 1.2rem;
}

.download-txt {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 2rem;
    line-height: 1.5rem;
}

.cards { /*hem de tornar a indicar flex perque per defecte els divs son display block*/
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
    gap: 1.5rem;
}

.card-chrome, .card-firefox, .card-opera {
    background-color: #f7f7f7;
    padding: 1.25rem;
    border-radius: 10px;
    box-shadow: 0px 5px 15px #6564644d;
    display: flex; /* ho hem de tornar a posar perque per defecte els divs son display block*/
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    flex-wrap: wrap;
}

.cards img.logo {  /* nova classe per les imatges dels logos */
    margin-bottom: 1.5rem;
}

.card-chrome h3, .card-firefox h3, .card-opera h3 {
    margin-bottom: 0.3rem;
}

.card-chrome p, .card-firefox p, .card-opera p {
    margin-bottom: 1.8rem;
    color: #959895;
}

.cardbutton {
    display: flex;
    flex-direction: row;
    gap: 0.6rem;
    margin-top: 1.25rem;
    text-decoration: none;
    background-color: #5368df;
    border: 3px solid #5368df;
    color: white;
    padding: 0.75rem 1.25rem;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0px 5px 15px #6564644d;
}

/* --------FAQ section-------- */

.faq {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 1.8rem;
    margin-bottom: 6rem;
}

.faq h2 {
    margin-bottom: 1.8rem;
}

.faq h3 {
    font-size: 0.9rem;
    font-weight: normal;
}

.faq p {   
    margin-bottom: 2.5rem;
    line-height: 1.5rem;
    max-width: 600px; /*37.5rem; /*es correcte posar aixo al mvl version?*/
}

.questions { /* contenedor de las preguntas */
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    text-align: left;
}
.question {
    list-style-type: none;
}

/* botó h3+arrow per a cada pregunta */
.question-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem 0rem;
    border-bottom: 1px solid #7a7777;
    cursor: pointer;
}

.question h3 {
    flex: 1; /* perque el text ocupi tot l'espai possible */
    text-align: left;
    margin-right: 0.6rem; /* perque no estigui enganxat a la fletxa */
    overflow-wrap: anywhere; /* perque el text es trenqui si es massa llarg */
}

.arrow { 
/* classe per girar la fletxa quan la resposta esta oberta */
    width: 20px;
    transition: transform 0.3s ease; /* animacio suau al girar la fletxa. Params: propietat, durada, tipus d'animacio */
    color: #5267DF;
}

.answer { /* classe per la resposta de cada pregunta */
    display: none;
    text-align: left;
    margin-top: 1rem;
    color: #7a7777;
    line-height: 1.5rem;
}

.question.active .answer{ /* quan la pregunta esta activa, mostra la resposta */
    display: block;
    margin-bottom: 1.25rem;
}

.question.active .question-header { /* per amagar barra */
    border: none;
}

.question-header.active .arrow path { /* quan la pregunta esta activa, gira la fletxa cap avall */
    stroke: currentColor; 
    transform: rotate(180deg);
}

.faq-button {
    margin-top: 2rem;
    background-color: #5368df;
    border: 3px solid #5368df;
    color: white;
    padding: 1rem 1.5rem;
    border-radius: 5px;
    font-weight: normal;
    box-shadow: 0px 5px 15px #6564644d;
    cursor: pointer;
    text-decoration: none;
}

/* --------contact section --------*/
.contact {
    background-color: #5368df;
    padding: 6.25rem 1.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto; /* per que el background toqui per tots dos costats*/
}

.contact .header-p {
    font-weight: normal;
    text-transform: uppercase;
    color: white;
    margin-bottom: 1.8rem;
    letter-spacing: 0.3rem;
}

.contact .header-h2 {
    color: white;
    margin-bottom: 1.8rem;
    font-weight: bold;
}

/* FORM en columna*/
.contact-form {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    width: 100%;
    margin: 0 auto;
}

/* Input + botó en columna */
.contact-form input {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
}

.contact-form button {
    background-color: #ff6565;
    width: 100%;
    color: #ffffff;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

/* error message */
.email-error {
    display: none;
    position: absolute;
    bottom: 0.2rem;
    left: 0.6rem;
    color: white;
    font-size: 0.7em;
    font-style: italic;
    text-align: left;

}
.email-error-container {
    position: relative;
    padding: 0.125rem 0.125rem 1.5rem 0.125rem;
    border-radius: 5px;
}

.email-error.error {
    display: block;
}

.email-error-container.error {
    background: #ff6565;
}

.email-error-container input {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
}

.email-error-container img {
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 1.25rem;
    display: none;
}

.email-error-container.error img {
    display: block;
}

/* --------footer-------- */
footer {
    background-color: #303869;
    padding: 2.5rem 1.25rem;
    text-align: center;
}

footer .logo-invert path {
    stroke: none; 
    fill: white;
}

.footer-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    list-style-type: none;
    margin: 1rem 0;
}

.footer-links a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 0.6rem;
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 0.125rem;
}

.social-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1.25rem;
    gap: 2.5rem;
}

/*===== DESKTOP ======*/
@media (min-width: 1024px) {
    body {
        overflow-x: hidden;
    }
    h1 {
        font-size: 2.813rem;
    }

    h2 {
        font-size: 2.188rem;
    }

    p {
        font-size: 1.25rem;
    }

    button {
        font-size: 1.063rem;
    }

    a {
        font-size: 1.063rem;
    }

    /* DKTP heading */
    .navbar-main {
        padding: 2rem 8rem;
        justify-content: space-between;
    }

    .nav-links-desktop {
        display: flex;
        gap: 2rem;
        align-items: center;
    }

    .nav-links-desktop a {
        text-decoration: none;
        color: black;
        letter-spacing: 0.2rem;
    }

    .nav-links-desktop a:hover {
        cursor: pointer;
        color: #ff6565
    }

    .nav-links-desktop .login-btn {
        width: 100%;
        text-decoration: none;
        border: 1px solid #ff6565;
        border-radius: 5px;
        font-weight: bold;
        background: #ff6565;
        color: #ffffff;
        font-size: 1.125rem;    
        letter-spacing: 0.2rem;
        padding: 0.8rem 2rem;
        box-shadow: 0px 5px 15px #6564644d;
    }

    .login-btn {
        cursor: pointer;
    }
    .login-btn:hover {
        background: #ffffff;
        color: #ff6565;
    }

    .navbar-menu {
        display: none;
    }

    .menu-btn {
        display: none;
    }

    /*======= HERO SECTION =====*/

    .hero {
        padding: 2rem 8rem;
    }

    .hero-wrapper {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 4rem;
        width: 100%;
    }

    .hero-images {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        flex: 1;
    }

    .hero-image img {
        max-width: 100%;
        height: auto;
        z-index: 1;
        flex-shrink: 0;
    }

    .hero-bg-shape {
        position: absolute;
        margin-right: 0;
        bottom: 8%;
        right: -30%;
        width: 95%;
        height: 60%;
        aspect-ratio: 2/1; 
        background: #4d5ae4;
        border: 400px 0 0 400px;
        z-index: -1;
    }

    .hero-txt-btn {
        flex: 1;
        text-align: left;
        align-items: flex-start;
    }
    
    .hero-text {
        width: 90%;
    }

    .hero-buttons button {
        cursor: pointer;
    }

    .chrome-btn:hover {
        background: #ffffff;
        border: 3px solid #2c3be0;
        color: #2c3be0;
    }

    .firefox-btn:hover {
        border: 3px solid #252b46f2;
    }

    /*=======FEATURES =======*/

    .features {
        padding: 2rem 8rem;

    }
    .features-text {
        width: 40%;
        margin-left: auto;
        margin-right: auto;
    }

    .tab-imgs {
        flex: 1;
        position: relative;
        display: flex;
        justify-content: flex-end;
    }

    .tab-img img {
        flex: 1;
    }

    .features-bg-shape {
        position: absolute;
        bottom: -10%;
        left: -50%;
        width: 125%;
        height: 80%;
        background: #4d5ae4;
        border: 400px 0 0 400px;
        z-index: -1;
    }

    .tabs {
        flex-direction: row;        
    }

    .tabs .btn-line:first-child {
    border-top: none;
    }

    .tab-content {
        flex-direction: row;
        gap: 4rem;
        margin-left: auto;
        margin-right: auto;
        justify-content: space-evenly;
    }

    .txt-btn {
    flex-direction: column;
    width: 40%;
    text-align: left;
    flex: 1;
    }

    .btn-line .tab:hover {
        color: #ff6565;
    }
    
    .tab-imgs {
        flex:1;
    }

    .info-btn {
        border: 3px solid #5368df;
        cursor: pointer;
    }
    .info-btn:hover {
        border: 3px solid #5368df;
        background: #ffffff;
        color: #5368df;
    }

    /*=======DOWNLOAD CARDS =======*/
    .download {
        margin: 2rem 8rem;
        align-items: center
    }
    .download-txt {
        width: 60%;
    }
    .cards {
        flex-direction: row;
        justify-content: space-evenly;
        gap: 0.6rem;
    }

    .card-firefox {
        margin-top: 4rem;
    }

    .card-opera {
        margin-top: 8rem;
    }

    .cardbutton {
        cursor: pointer;
    }
    .cardbutton:hover {
        border: 3px solid #5368df;
        background: #ffffff;
        color: #5368df;
    }

    /*---FAQS---*/
    .question h3:hover {
    color: #ff6565;
    }

    .faq-button:hover {
        border: 3px solid #5368df;
        background: #ffffff;
        color: #5368df;
    }

    /* ========CONTACT========*/

    .contact-form {
        flex-direction: row;
    }

    .contact-form .email-error-container {
        flex: 2;
    }
    .contact-form button {
        flex: 1;
        height: 50%;
        border: 2px solid #ff6565;
    }

    .contact-form button:hover {
        border: 2px solid #ff6565;
        color: #ff6565;
        background: #ffffff;
    }

    /*====FOOTER======*/

    footer {
    padding: 0.5rem 8rem;

    }
    .footer-links {
        flex-direction: row;
    }
    .footer-links a:hover {
        color: #ff6565;
    }
    .footer-logo {
        padding: 1rem;
    }

    .logo-links {
        display: flex;
    }

    .social-media {
        margin-left: auto;
    }

    .social-media path:hover {
        fill: #ff6565;
    }

}
