header {
    background: #4e3f10;
    color: #f5eba5;
    text-align: center;
    padding: 25px 0;
    margin: 0 0 25px 0;
}

main {
    background: #f5eba5;
    width: 620px ;
    padding: 30px;
    border: 5px solid #5b0c5f;
}

footer {
    background: #1e054d;
    color: #e3daf6;
    text-align: center;
    padding: 25px;
    margin: 25px 0 0 0;
}


